<ion-header>
  <ion-toolbar color="primary">
   
    <ion-title>Mobil's booking</ion-title>
  
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  
  <ion-list>


    <ion-item>
      <ion-input labelPlacement="stacked" label="Your type vehicle" id = "tipov" name = "tipov"  [(ngModel)]="mobil.tipov" value="{{vehiculo}}" [readonly]="true" />
    </ion-item>

    <ion-item>
      <ion-select 
      [interfaceOptions]="numeroPopoverOptions" interface="popover" fill="outline"
      label="Number" labelPlacement="stacked" id = "numberv" name = "numberv" placeholder="Your vehicle's number" [(ngModel)]="mobil.numberv" >
          
        <ion-select-option [value]="tempv">  
          {{tempv}}
        </ion-select-option>     
      <ion-select-option *ngFor="let numero of numeros"  [value]="numero">  
        {{numero}}
      </ion-select-option>        
      </ion-select>
     
      <ion-button shape="round" (click)="addcar()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>


   

    <ion-item>
      <ion-select 
      [interfaceOptions]="locationPopoverOptions" interface="popover" fill="outline"
      
      label="Your location" labelPlacement="stacked" id = "locationv" name = "locationv" placeholder="Location's your vehicle?" [(ngModel)]="mobil.locationv">
        <ion-select-option [value]="templ">  
          {{templ}}
        </ion-select-option>     
      <ion-select-option *ngFor="let locacion of locations"  [value]="locacion.id">  
        {{locacion.suite}}
      </ion-select-option>        
      </ion-select>
      
      <ion-button shape="round" (click)="addsite()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-select  label="Power supply"
       [interfaceOptions]="powerPopoverOptions" interface="popover" fill="outline"
      
      labelPlacement="stacked" placeholder="Select" id = "power" name = "power" [(ngModel)]="mobil.power" >
      <ion-select-option *ngFor="let power of powers"  [value]="power.valor">  
        {{power.etiqueta}}
      </ion-select-option>        
      </ion-select>
     
    </ion-item>

    <ion-item>
      <ion-select label="Water supply" placeholder="Select"
       [interfaceOptions]="waterPopoverOptions" interface="popover" fill="outline"
      labelPlacement="stacked"  id = "water" name = "water" [(ngModel)]="mobil.water" >
      <ion-select-option *ngFor="let water of waters"  [value]="water.valor">  
        {{water.etiqueta}}
      </ion-select-option>        
      </ion-select>
     
    </ion-item>

    <ion-item>
      <ion-select 
      label="Will you to be there?" placeholder="Select"
       [interfaceOptions]="presenciaPopoverOptions" interface="popover" fill="outline"
      labelPlacement="stacked"  id = "ensitio" name = "ensitio" [(ngModel)]="mobil.ensitio" >
      <ion-select-option *ngFor="let ensitio of ensitios"  [value]="ensitio.valor">  
        {{ensitio.etiqueta}}
      </ion-select-option>        
      </ion-select>
    
    </ion-item>


    <ion-item>
      <ion-select 
       label="Meeting time" placeholder="Select"
       [interfaceOptions]="timePopoverOptions" interface="popover" fill="outline"
      label="Appointment time"  labelPlacement="stacked"  id = "horacita" name = "horacita" [(ngModel)]="mobil.horacita" (ionChange) = done1()>
      <ion-select-option *ngFor="let hora of horario"  [value]="hora.valor">  
        {{hora.etiqueta}}
      </ion-select-option>        
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>
        <div>Appointment date</div>
      <ion-datetime  placeholder = 'Select a Reservation Date'  presentation="date" first-day-of-week="1" [min] = 'hoy'   [(ngModel)]="mobil.diacita" id = "diacita" name = 'diacita' (ionChange) = done2()>
        
      </ion-datetime>
    </ion-label>
    </ion-item>



  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-button color="warning" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Action</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" (click)="continue()" [strong]="true">Continue</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
