.box1 {
    text-align: center;
}

.box2 {
    text-align: center;
     background-color: #fff;
    border-radius: 12px;
}

.box3 {
    background-color: #fff;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
}