<ion-header>
  <ion-toolbar color="secondary">   
    <ion-title></ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <ion-row>
    <ion-col></ion-col>
    <ion-col class="box2">
      
 <img src="./assets/imgs/payExitoso.png" />

    </ion-col>
     <ion-col></ion-col>
  </ion-row>
    <ion-row>
    <ion-col class="box1">
  <h4>THANK YOU FOR YOUR PAYMENT.<br>It has been SUCCESSFULLY RECEIVED<br>&<br>
    will be verified shortly by our team.</h4>
    </ion-col>
  </ion-row>
   <ion-row>
    <ion-col class="box1">
  <h5>WHAT WOULD YOU LIKE TO DO NEXT?</h5>
    </ion-col>
  </ion-row>
     <ion-row>
    <ion-col class="box1">
   <ion-button  color="warning" (click) = "otherPay()" shape="round" >
<span style="color:black;  font-size: large; ">MAKE OTHER PAYMENT</span>
 <ion-icon color="dark" slot="start" name="apps"></ion-icon>
  <ion-icon color="dark" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
    </ion-col>
  </ion-row>
      <ion-row>
    <ion-col class="box1">
   <ion-button  color="warning" (click) = "wellcome()" shape="round" >
<span style="color:black;  font-size: large; ">DASHBOARD</span>
 <ion-icon color="dark" slot="start" name="apps"></ion-icon>
  <ion-icon color="dark" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
