    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Service opinion</ion-title>
      </ion-toolbar>
    </ion-header>
<ion-content class="ion-padding">
        <ion-card color="light">
          <ion-card-header>
            <ion-card-title>Finally, please optionally tell us what you think of the app.</ion-card-title>
            <ion-card-subtitle>Your opinion helps us improve</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content color="light">
           
       <ion-radio-group (ionChange)="handleChange($event)" [(ngModel)]="selectedOption" >
    @for (forma of formas; track forma.id) {
    <ion-item lines="none" color="light">
      <ion-radio   [value]="forma.id">{{ forma.name }}</ion-radio>
    </ion-item>
    }
  </ion-radio-group>

              <ion-button  color="primary" expand="block" (click)="submit()" [disabled]="!selectedOption" class="ion-margin-top">
              Submit opinion
              </ion-button>
       
          </ion-card-content>
        </ion-card>
      </ion-content>
