<ion-header>
  <ion-toolbar color="primary"> 
       
    <ion-title>ADD A NEW LOCATION</ion-title> 
       
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
 <div style="text-align: justify;"><p>This location will be stored in your list of locations for another time.</p></div>

<ion-list>
    <ion-item>
      <ion-input labelPlacement="stacked" label="Suite" id = 'suite' name = 'suite' type = 'text' [(ngModel)]="site.suite" placeholder="your suite" />
      <br/>
      
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Street" id = 'street' name = 'street' type = 'text' [(ngModel)]="site.street" placeholder="your street" />
      <br/>
    
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Address" id = 'address' name = 'address' type = 'text' [(ngModel)]="site.address" placeholder="your address" />
      <br/>
   
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Code postal" id = 'zip' name = 'zip' type = 'number' [(ngModel)]="site.zip" placeholder="your code postal" />
      <br/>
 
    </ion-item>

    <ion-item>
      <ion-select 
      [interfaceOptions]="estadoPopoverOptions"
       interface="popover" 
        fill="outline"   
      label="State" labelPlacement="stacked" id = 'estado' name = 'estado'  placeholder="your state" [(ngModel)]="site.estado" >
      <ion-select-option value="">  
      Select
      </ion-select-option> 
      <ion-select-option *ngFor="let local of estados"  [value]="local.estado">  
        {{local.estado}}
      </ion-select-option>        
      </ion-select>
      <br/>

    </ion-item>

    <ion-item>
      <ion-select 
      [interfaceOptions]="ciudadPopoverOptions"
       interface="popover" 
        fill="outline"   
      label="City" id = 'ciudad' name = 'ciudad'  labelPlacement="stacked" placeholder="your city" [(ngModel)]="site.ciudad" >
      <ion-select-option value="">  
      Select
      </ion-select-option> 
      <ion-select-option *ngFor="let ciudad of cities"  [value]="ciudad.city">  
        {{ciudad.city}}
      </ion-select-option>        
      </ion-select>
      <br/>
     
    </ion-item>
  
        <ion-item>
      <ion-select  label="Power supply"
       [interfaceOptions]="powerPopoverOptions" interface="popover" fill="outline"
      
      labelPlacement="stacked" placeholder="Select" id = "power" name = "power" [(ngModel)]="site.power" >
      <ion-select-option *ngFor="let power of powers"  [value]="power.valor">  
        {{power.etiqueta}}
      </ion-select-option>        
      </ion-select>
     
    </ion-item>

    <ion-item>
      <ion-select label="Water supply" placeholder="Select"
       [interfaceOptions]="waterPopoverOptions" interface="popover" fill="outline"
      labelPlacement="stacked"  id = "water" name = "water" [(ngModel)]="site.water" >
      <ion-select-option *ngFor="let water of waters"  [value]="water.valor">  
        {{water.etiqueta}}
      </ion-select-option>        
      </ion-select>
     
    </ion-item>

    <ion-item>
      <ion-select 
      label="Will you to be there?" placeholder="Select"
       [interfaceOptions]="presenciaPopoverOptions" interface="popover" fill="outline"
      labelPlacement="stacked"  id = "ensitio" name = "ensitio" [(ngModel)]="site.ensitio" >
      <ion-select-option *ngFor="let ensitio of ensitios"  [value]="ensitio.valor">  
        {{ensitio.etiqueta}}
      </ion-select-option>        
      </ion-select>
    
    </ion-item>


  
  </ion-list>

<div  style="text-align: center;"> <img src="./assets/imgs/location_app.png" /></div>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
   <ion-grid>
    <ion-row>
      <ion-col>
     
      <ion-button color="secondary" shape="round" (click)="cancel()">
       CANCEL
 <ion-icon color="light" slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    
  </ion-col>
      <ion-col></ion-col>
      <ion-col>
<ion-button  color="secondary" shape="round" (click) = "confirm()">
  CONTINUE
  <ion-icon color="light" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>
   </ion-grid>
    </ion-toolbar>
</ion-footer>
