<ion-header>
  <ion-toolbar color="primary">   
    <ion-title>ARCHIVE<br>APPOINTMENT</ion-title>  
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>By confirming this action, the appointment will be stored as archived data. This information is preserved for reference purposes. The company reserves the right to retain this information for legal purposes.</p>
  <ion-item>
    <ion-toggle labelPlacement="start" color="warning"  [(ngModel)]="terminos">I accept the terms</ion-toggle>
  </ion-item>


   <div style="text-align: center;"> <img src="./assets/imgs/archivo_app.png" /></div>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" >
    <ion-grid>
      <ion-row>
        <ion-col>
<ion-button color="light" shape ="round" (click)="cancel()">CANCEL </ion-button>
        </ion-col>
        <ion-col></ion-col>
        <ion-col><ion-button color="light" shape ="round"  (click)="confirm()" >CONFIRM</ion-button></ion-col>
      </ion-row>
    </ion-grid>  
  </ion-toolbar>
</ion-footer>
