<ion-header>
  <ion-toolbar color="primary"> 
         <ion-buttons slot="start">
      <ion-button (click)="atras()">       
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
          </ion-button>   
    </ion-buttons>   
    <ion-title>YOUR LOCATION</ion-title>  
            <ion-buttons slot="end">
      <ion-button (click)="cancel()" *ngIf !="invitacion">       
        <ion-icon slot="icon-only" name="sync" color="light"></ion-icon>
          </ion-button> 
     </ion-buttons>   
  </ion-toolbar>
      

</ion-header>
<ion-content class="ion-padding">

<h3 style="text-align: justify;" *ngIf="invitacion" >You need to open your set of locations to continue.</h3>

  <div *ngIf="select">
  <ion-grid>

    <ion-row *ngIf="ocultaboton">
      <ion-col style="text-align: center;">
        <ion-button  color="primary" (click) = "locationList()"  shape="round">
SELECT AN ADDRESS FROM YOUR LIST OF LOCATIONS

 <ion-icon color="dark" slot="start" name="add-circle"></ion-icon>
  <ion-icon color="light" slot="end" name="square"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>

      <ion-row>
      <ion-col style="text-align: center;">
        <ion-button  color="warning" (click) = "locationNew()" shape="round" >
INDICATE A NEW LOCATION
 <ion-icon color="dark" slot="start" name="checkmark-circle"></ion-icon>
  <ion-icon color="light" slot="end" name="square"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>



    </ion-grid><br>
      <div  style="text-align: center;"> <img src="./assets/imgs/location_app.png" /></div>

</div>
<div *ngIf="new">
  <div style="text-align: justify;"><p>This location will be stored in your list of locations for another time.</p></div>

<ion-list lines="none" [inset]="true">
    <ion-item>
      <ion-input labelPlacement="stacked" label="Suite" id = 'suite' name = 'suite' type = 'text' [(ngModel)]="site.suite" placeholder="your suite" />
      <br/>
      
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Street" id = 'street' name = 'street' type = 'text' [(ngModel)]="site.street" placeholder="your street" />
      <br/>
    
    </ion-item>


    

    <ion-item>
      <ion-input labelPlacement="stacked" label="Code postal" id = 'zip' name = 'zip' type = 'text' [(ngModel)]="site.zip" placeholder="your code postal" />
      <br/>
 
    </ion-item>

    <ion-item>
      <ion-select  style="padding:5px"
      [interfaceOptions]="estadoPopoverOptions"
       interface="alert" 
        fill="outline"   
      label="State" labelPlacement="stacked" id = 'estado' name = 'estado'  placeholder="your state" [(ngModel)]="site.estado" >

      <ion-select-option *ngFor="let local of estados"  [value]="local.estado">  
        {{local.estado}}
      </ion-select-option>        
      </ion-select>
      <br/>

    </ion-item>

    <ion-item>
      <ion-select  style="padding:5px"
      [interfaceOptions]="ciudadPopoverOptions"
       interface="alert" 
        fill="outline"   
      label="City" id = 'ciudad' name = 'ciudad'  labelPlacement="stacked" placeholder="your city" [(ngModel)]="site.ciudad" >
   
      <ion-select-option *ngFor="let ciudad of cities"  [value]="ciudad.city">  
        {{ciudad.city}}
      </ion-select-option>        
      </ion-select>
      <br/>
     
    </ion-item>
   </ion-list>
   <h4 style="text-align: center;">WORKING CONDITIONS<br>AT YOUR LOCATION</h4>
    <ion-list lines="none" [inset]="true">
        <ion-item>
      <ion-select  label="Power supply" style="padding:5px"
       [interfaceOptions]="powerPopoverOptions" interface="alert" fill="outline"
      
      labelPlacement="stacked" placeholder="Select" id = "power" name = "power" [(ngModel)]="site.power" >
      <ion-select-option *ngFor="let power of powers"  [value]="power.valor">  
        {{power.etiqueta}}
      </ion-select-option>        
      </ion-select>
     
    </ion-item>

    <ion-item>
      <ion-select label="Water supply" placeholder="Select" style="padding:5px"
       [interfaceOptions]="waterPopoverOptions" interface="alert" fill="outline"
      labelPlacement="stacked"  id = "water" name = "water" [(ngModel)]="site.water" >
      <ion-select-option *ngFor="let water of waters"  [value]="water.valor">  
        {{water.etiqueta}}
      </ion-select-option>        
      </ion-select>
     
    </ion-item>

    <ion-item>
      <ion-select style="padding:5px"
      label="Will you to be there?" placeholder="Select"
       [interfaceOptions]="presenciaPopoverOptions" interface="alert" fill="outline"
      labelPlacement="stacked"  id = "ensitio" name = "ensitio" [(ngModel)]="site.ensitio" >
      <ion-select-option *ngFor="let ensitio of ensitios"  [value]="ensitio.valor">  
        {{ensitio.etiqueta}}
      </ion-select-option>        
      </ion-select>
    
    </ion-item>


  
  </ion-list>




</div>

<div *ngIf="locations">
 <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> 

   <ion-list lines="none" [inset]="true">

      <ion-item  color="primary" class="customer-list"  *ngFor="let address of locationsx" (click)="selectLocation(address.id)"  >
 <ion-icon slot="start" name="map-outline" color="primary"></ion-icon>
        <ion-label>
           {{address.address}}<br><span style="font-size:smaller">City: {{address.city}}<br> Zip code: {{address.zip}}</span>
             </ion-label>
             <ion-icon color="dark" slot="end" name="arrow-forward"></ion-icon>
        </ion-item>
      </ion-list><br>
        <div  style="text-align: center;"> <img src="./assets/imgs/location_app.png" /></div>
</div>

  
</ion-content>

<ion-footer class="ion-no-border" *ngIf="new">
  <ion-toolbar color="primary">
   <ion-grid>
    <ion-row>
      <ion-col>    
  </ion-col>
      <ion-col></ion-col>
      <ion-col>
<ion-button  color="secondary" shape="round" (click) = "continue()">
  CONTINUE
  <ion-icon color="light" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>
   </ion-grid>
    </ion-toolbar>
</ion-footer>
