ion-item::part(native) {
  
    background-color: #f2f2f2;

  border-color: solid 2px #CA083F;

  padding:10px;

color:black;
font-size: larger;

font-weight: bold;

  border-radius: 8px;
  margin-top: 10px;
}

ion-item::part(detail-icon) {
  color: black; 
  opacity: 1; 
  font-size: 20px;
}

div[slot="content"] {
  background: #f0f0f0;
  border-radius: 0 0 8px 8px;
  padding: 15px;
  font-size: 14px;
}

ion-content {
  background-color: #2E4F9C;
}