.box1 {
    border-radius: 12px;
    color: #f2f2f2;
    background-color: #2E4F9C;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.box2 {
    border-radius: 12px;
    color: #f2f2f2;
    background-color: #2E4F9C;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box3 {
    text-align: center;
    color: #f2f2f2;
    font-weight: bold;
}

ion-content {
    background-color: #2E4F9C;
  }