.etiquetas {

    color:black
}

::ng-deep .mat-select-value {
    color: #cb033c !important;
}



.pen {
    color: #ffc409 !important;
    font-size: larger;
}

h3 {
    font-size: larger;
    font-weight: bold;
}