
ion-item::part(native) {
  
padding:10px;
   background-color: #f2f2f2;

  border-color: solid 2px #CA083F;

color:black;
font-size: larger;

font-weight: bold;
  border-radius: 15px;
  margin-top: 5px;
}

ion-item::part(detail-icon) {
  color: black;  
  font-size: 20px;
   opacity: 1; 
}
ion-content {
  background-color: #2E4F9C;
}