<ion-header>
  <ion-toolbar color="primary"> 
         
    <ion-title>ADD A NEW VEHICLE<br>TO YOUR FLEET</ion-title> 
       
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
 
  <div style="text-align: justify;"><p>Remember maintain a fleet of vehicles with us and receive frequent discount coupons.</p></div>
  <ion-list lines="none">

    <ion-item>    
      <ion-select style="padding:5px;" fill="outline" 
      [interfaceOptions]="tipoVehiclePopoverOptions" interface="alert" 
      label="Type vehicle" labelPlacement="stacked" id = "tipoVehicle" name = "tipoVehicle" placeholder="Your vehicle's type" [(ngModel)]="truck.tipov" (ionChange)="selectVehiculos($event)">
      <ion-select-option *ngFor="let vehiculo of vehiculos"  [value]="vehiculo.category_id">  
        {{vehiculo.name}}
        </ion-select-option>         
      </ion-select>
    </ion-item>


    <ion-item>
     
         <ion-select style="padding:5px;" fill="outline" 
      [interfaceOptions]="modeloVehiclePopoverOptions" interface="alert" 
      label="Vehicle model" labelPlacement="stacked" id = "model" name = "model" placeholder="Your vehicle's model" [(ngModel)]="truck.model" >
      <ion-select-option *ngFor="let modelo of modelos"  [value]="modelo.category_id">  
        {{modelo.name}}
        </ion-select-option>         
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input  labelPlacement="stacked" label="Vehicle brand" id = 'brand' name = 'brand'  type = 'text' [(ngModel)]="truck.brand" placeholder="Brand of your vehicle" />
    </ion-item>

    <ion-item>
      <ion-input  labelPlacement="stacked" label="Color of the vehicle" id = 'color' name = 'color' type = 'text' [(ngModel)]="truck.color" placeholder="Color of your vehicle" />

    </ion-item>

  <ion-item>
    <ion-input  labelPlacement="stacked" label="License" id = 'license' name = 'license' type = 'text' [(ngModel)]="truck.license" placeholder="Vehicle driver's license" />
  </ion-item>

  <ion-item>
    <ion-input  labelPlacement="stacked" label="Vehicle number" id = 'unitnumber' name = 'unitnumber' type = 'text' [(ngModel)]="truck.unitnumber" placeholder="Number of your vehicle" />

  </ion-item>

  <ion-item>
    <ion-select labelPlacement="stacked" style="padding:5px;"
    [interfaceOptions]="detallesPopoverOptions" 
    interface="alert" 
        fill="outline"   
    label="Vehicle details" 
placeholder="Its general appearance"
    id = 'detallev' name = 'detallev' [(ngModel)]="truck.detallev" >
  
      <ion-select-option *ngFor="let detalle of detalles"  [value]="detalle.valor">  
      {{detalle.etiqueta}}
    </ion-select-option>        
    </ion-select>

  </ion-item>



</ion-list>
 <div  style="text-align: center;"> <img src="./assets/imgs/fleet_app.png" /></div>

</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
   <ion-grid>
    <ion-row>
      <ion-col>
     
      <ion-button color="secondary" shape="round" (click)="cancel()">
       CANCEL
 <ion-icon color="light" slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    
  </ion-col>
      <ion-col></ion-col>
      <ion-col>
<ion-button  color="secondary" shape="round" (click) = "confirm()">
  CONTINUE
  <ion-icon color="light" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>
   </ion-grid>
    </ion-toolbar>
</ion-footer>

