
.perfil {
    background-color: #2E4F9C!important; 
    border-radius:  unset !important;
    box-shadow: none;
   }
  
   ion-content{
    --ion-background-color:#2E4F9C;
  }
  
  .perfil-continuar {
  background-color: #cb033c;
  width: 100%
  }
  
  .perfil-cancel {
  background-color: #142f5f;
  width: 100%
  }
  
  ::ng-deep .mat-select-panel {
  
    background-color: #142f5f !important;
  
    margin-left: 10px;
  }

  ion-input.custom {
  //  --background: #373737;
    --color: #f2f2f2;
    --placeholder-color: #f2f2f2;
    --placeholder-opacity: 0.8;
   // text-align: center;
//font-size:large;
  
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
  }