<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>To Book</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-icon name="information-circle" slot='start' style="color: #f2f2f2;"></ion-icon>
    <ion-title size="small" style="color: #f2f2f2;">Before we begin, we require a little more basic information from you.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
<ion-row>
<ion-col> 

    <ion-list >

<ion-item>

  <ion-icon name="phone-portrait-outline" color="light" slot="end"></ion-icon>   
<ion-input labelPlacement="stacked" label ="Mobile phone" type = "tel" maxlength="11" class="custom" id = "mobilephone" name = "mobilephone" [(ngModel)]="array.mobilephone"  (ionBlur)="mascaraDeTelefono($event)" placeholder="04248888888"></ion-input>
</ion-item>

<ion-item>

<ion-input labelPlacement="stacked" label="First name"  type="text"  class="custom" id = "firstname" name = "firstname" [(ngModel)]="array.firstname" ></ion-input>
</ion-item>
 
<ion-item>

<ion-input labelPlacement="stacked" label = "Last name"  type="text"  class="custom" id = "lastname" name = "lastname" [(ngModel)]="array.lastname" ></ion-input>
</ion-item>
 
    
 

</ion-list>

</ion-col> 
</ion-row> 

<ion-row>
  <ion-col>
<ion-button color="primary" expand="block"  (click)="continue()">Continue</ion-button>
</ion-col>
</ion-row> 

</ion-grid>
</ion-content>
