.neon {

   color: #000;
    text-align: center;
    font-weight: bold;
    background-color: #aa7941;
    border-radius: 12px;
    margin-left: 2px;
}

.argon {
      color: #f2f2f2;
    text-align: center;
     font-weight: bold;
}

.neon1 {

    color: #000;
    text-align: center;
    font-weight: bold;
}

.neon2 {

    color: #000;
    text-align: center;
    font-weight: bold;
    background-color: #aa7941;
    border-radius: 12px;
    padding: 5px;
}



.linea {
    border: solid 1px #f2f2f2;
}