<ion-header>
  <ion-toolbar color="primary"> 
         <ion-buttons slot="start">
      <ion-button (click)="atras()">       
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
          </ion-button>   
    </ion-buttons>   
    <ion-title style="text-align: center;">SELECT ONE OF OUR<br>WORKSTATIONS</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-accordion-group *ngFor="let yard of sitiosyard; let i = index " expand="inset" >
  <ion-accordion value=i>
    <ion-item slot="header"   >
           
      <ion-label >
        {{yard.nombre_yard}}
      </ion-label> 
    </ion-item>
    <div class="ion-padding" slot="content"> 
      
<h4 style="text-align: center; font-size: larger; font-weight: bold; color:#2E4F9C ">ADDRESS</h4>
<div style="text-align: justify; color:black; font-weight: bold; " >{{yard.direccion}}</div>
    <div style="text-align: center;" >
<ion-button  color="warning" (click)="selectCita(yard.nombre_yard,yard.direccion)" shape="round" >
SELECT NOW
<ion-icon color="dark" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
</div><br>
<ion-img
  src="https://www.washtt.com/images/{{yard.image}}"
  alt="{{yard.nombre_yard}}"
style="border-radius: 12px;"></ion-img><br>
  <div style="text-align: center;" >
<ion-button  color="primary" (click)="createMap(yard.lat, yard.lng, yard.direccion, yard.nombre_yard,yard.id)" shape="round">
VIEW ON MAP
<ion-icon color="light" slot="end" name="map"></ion-icon>
</ion-button>


</div>

    </div>
  </ion-accordion>   
</ion-accordion-group>




</ion-content>
