<ion-header>
  <ion-toolbar color="primary"> 
         <ion-buttons slot="start">
      <ion-button (click)="atras()">       
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
          </ion-button>   
    </ion-buttons>   
    <ion-title>Select one of our workstations</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-accordion-group *ngFor="let yard of sitiosyard; let i = index " expand="inset" >
  <ion-accordion value=i>
    <ion-item slot="header" >
           
      <ion-label >
        {{yard.nombre_yard}}
      </ion-label> 
    </ion-item>
    <div class="ion-padding" slot="content"> 


    </div>
  </ion-accordion>   
</ion-accordion-group>




</ion-content>
