<ion-header>
  <ion-toolbar color="primary"> 
       
    <ion-title>ADD A NEW LOCATION</ion-title> 
       
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
 <div style="text-align: justify;"><p>This location will be stored in your list of locations for another time.</p></div>

<ion-list lines="none" [inset] = "true">
    <ion-item>
      <ion-input labelPlacement="stacked" label="Suite" id = 'suite' name = 'suite' type = 'text' [(ngModel)]="site.suite" placeholder="your suite" />
      <br/>
      
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Street" id = 'street' name = 'street' type = 'text' [(ngModel)]="site.street" placeholder="your street" />
      <br/>
    
    </ion-item>


    <ion-item>
      <ion-input labelPlacement="stacked" label="Code postal" id = 'zip' name = 'zip' type = 'number' [(ngModel)]="site.zip" placeholder="your code postal" />
      <br/>
 
    </ion-item>

    <ion-item>
      <ion-select style="padding:5px;"
      [interfaceOptions]="estadoPopoverOptions"
       interface="alert" 
        fill="outline"   
      label="State" labelPlacement="stacked" id = 'estado' name = 'estado'  placeholder="your state" [(ngModel)]="site.estado" >
  
      <ion-select-option *ngFor="let local of estados"  [value]="local.estado">  
        {{local.estado}}
      </ion-select-option>        
      </ion-select>
      <br/>

    </ion-item>

    <ion-item>
      <ion-select style="padding:5px;"
      [interfaceOptions]="ciudadPopoverOptions"
       interface="alert" 
        fill="outline"   
      label="City" id = 'ciudad' name = 'ciudad'  labelPlacement="stacked" placeholder="your city" [(ngModel)]="site.ciudad" >

      <ion-select-option *ngFor="let ciudad of cities"  [value]="ciudad.city">  
        {{ciudad.city}}
      </ion-select-option>        
      </ion-select>
      <br/>
     
    </ion-item>
  
  </ion-list>

<div  style="text-align: center;"> <img src="./assets/imgs/location_app.png" /></div>

</ion-content >
<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
   <ion-grid>
    <ion-row>
      <ion-col>
     
      <ion-button color="secondary" shape="round" (click)="cancel()">
       CANCEL
 <ion-icon color="light" slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    
  </ion-col>
      <ion-col></ion-col>
      <ion-col>
<ion-button  color="secondary" shape="round" (click) = "confirm()">
  CONTINUE
  <ion-icon color="light" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>
   </ion-grid>
    </ion-toolbar>
</ion-footer>




