<ion-header>
  <ion-toolbar color="primary">

    <ion-title>New location</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div  style = 'text-align: center; color: #f2f2f2'>{{allErrorMessage}}</div>
  <ion-list>



  <ion-item>
    <ion-input labelPlacement="stacked" label="Suite" id = "suite" name= "suite" [(ngModel)]="site.suite"   placeholder="your suite" type="text" required />
    <br/>
    {{suiteErrorMessage}}
  </ion-item>

<ion-item>
    <ion-input labelPlacement="stacked" label="Street" id = "street" name= "formStreet" [(ngModel)]="site.street" placeholder="your street" type="text" required />
      <br/>
      {{streetErrorMessage}}
  </ion-item>

  <ion-item>
    <ion-input labelPlacement="stacked" label="Address" id = "address" name= "formAddress" [(ngModel)]="site.address" placeholder="your address" type="text" required />
    <br/>
    {{addressErrorMessage}}  
  </ion-item>


  <ion-item>
    <ion-input labelPlacement="stacked" label="Code postal" id = "zip" name= "formZip" [(ngModel)]="site.zip" placeholder="your code postal" type="number" required />
    <br/>
    {{zipErrorMessage}}
  </ion-item>


  <ion-item>
    <ion-select label="State" label-placement="stacked" id = "estado" name= "formEstado" placeholder="your state" [(ngModel)]="site.estado" required>
    <ion-select-option *ngFor="let local of estados"  [value]="local.estado">  
      {{local.estado}}
    </ion-select-option>        
    </ion-select>
    <br/>
  {{estadoErrorMessage}}
  </ion-item>
  
  <ion-item>
    <ion-select label="City" label-placement="stacked" id = "ciudad" name= "formCiudad" placeholder="your city" [(ngModel)]="site.ciudad" required>
    <ion-select-option *ngFor="let ciudad of cities"  [value]="ciudad.city">  
      {{ciudad.city}}
    </ion-select-option>        
    </ion-select>
    <br/>
    {{ciudadErrorMessage}}
  </ion-item>

  <ion-item>
    <ion-select label="Main location" label-placement="stacked" placeholder="Is this your main location?" id = "favorito" name= "formFavorito" [(ngModel)]="site.favorito" required >
      <ion-select-option value= "1">  
       YES
      </ion-select-option>        
    <ion-select-option value= "0">  
      NOT
    </ion-select-option>        
    </ion-select>
    <br/>
    {{favoritoErrorMessage}}
  </ion-item>

</ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Action</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>





