.app-logo{
    background-image: url(https://washtt.com/app_logo_inicio_ttwash_express.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 20px auto;
  }

  ion-icon[name="eye"], ion-icon[name="eye-off"] {
    font-size: 24px;
    color: #f2f2f2;
    cursor: pointer;
  }

  ion-input[fill="outline"] {
  --border-radius:12px:
  --border-color: #ccc;
  --border-width: 1px;
  --highlight-color: #CA083F; /* Color when focused */
  --background: #2E4F9C;
  padding: 10px;
}

ion-content {
  background-color: #2E4F9C;
}

