<ion-header>
  <ion-toolbar color="primary">
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <div class="app-logo"></div>
  <div style="text-align: center;
   color: #ca083f;
    font-weight: bolder;
     font-size: larger;
      margin-top: -23px;
  font-style: oblique;">Customers</div>
  <div style="text-align: center;
    color: #fff;  
      font-size: x-small;  
   font-style: oblique;">with the usual care!</div>
  <div style="text-align: center; font-weight: bolder; color:#f2f2f2">{{appVersion}}</div>
  <!---SIGN GOOGLE-->
  <ion-grid>

   <ion-row>
    <ion-col></ion-col>
    <ion-col size="auto">
      <ion-button shape="round" (click)="openGoogleSignIn()">
        <ion-icon name="logo-google" slot="end"></ion-icon>
        SIGN IN
      </ion-button>
    </ion-col>
       <ion-col></ion-col>
  </ion-row>
    <!---SIGN FIREBASE EMAIL-PASSSWORD-->
    <ion-row>
      <ion-col>
        <div style="text-align: center;
    color: #fff;    
   font-style: oblique;">or! sign in with account:</div>
      </ion-col>
    </ion-row>

    <form [formGroup]="form_login">

      <ion-row>
        <ion-col>
          <ion-list lines="none" [inset]="true">

            <ion-item>
              <ion-label position="stacked" color="light">EMAIL</ion-label><br>
              <ion-icon name="mail" color="light" slot="end"></ion-icon>

              <ion-input placeholder="email@domain.com" fill="outline" formControlName="email" type="email"
                required></ion-input>
            </ion-item><br>

            <ion-item>
              <ion-label position="stacked" color="light">PASSWORD</ion-label><br>
              <ion-input placeholder="password" fill="outline" type="{{ showPassword ? 'text' : 'password' }}"
                formControlName="password"></ion-input>
              <ion-icon name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end"
                (click)="togglePasswordVisibility()"></ion-icon>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

    </form>

    <ion-row>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-button color="primary" shape="round" (click)="send()">LOGIN</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>




    <ion-row>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-button color="primary" shape="round" (click)="resetpassword()">Forgot your password</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>



  



    <ion-row>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-button color="primary" shape="round" (click)="registro()">Don't have an account?</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>


</ion-content>