


<ion-header>
  <ion-toolbar color="primary">   
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="app-logo"></div>
  <div style="text-align: center;
   color: #ca083f;
    font-weight: bolder;
     font-size: larger;
      margin-top: -23px;
  font-style: oblique;">Customers</div>
    <div style="text-align: center;
    color: #fff;  
      font-size: x-small;  
   font-style: oblique;">with the usual care!</div>
  <div style="text-align: center; font-weight: bolder; color:#f2f2f2">2.1.3</div>

  <ion-card >
    <ion-card-content>
      <ion-button expand="full" (click)="openAppleSignIn()">
        <ion-icon name="logo-apple" slot="start"></ion-icon>
        Sign in
      </ion-button>
    </ion-card-content>
  </ion-card>





  <!--<app-explore-container name="Login"></app-explore-container>-->
</ion-content>
