.app-logo{
    background-image: url(https://washtt.com/app_logo_inicio_ttwash_express.png);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    //border-radius: 320px;
    background-position: center;
    background-size: contain;
    //background-color: #e3f8ff;
    margin: 20px auto;
  }

  ion-icon[name="eye"], ion-icon[name="eye-off"] {
    font-size: 24px;
    color: #777;
    cursor: pointer;
  }