ion-input.custom {
    --color: #f2f2f2;
    --placeholder-color: #f2f2f2;
    --placeholder-opacity: 0.8;
    text-align: center;
font-size:large;
  
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
  }