<ion-header>
  <ion-toolbar color="primary">

    <ion-title>PASSWORD RECOVERY</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-icon name="information-circle" slot='start' style="color:#f2f2f2"></ion-icon>
    <ion-title size="small" style="color:#f2f2f2">Enter the correct email associated with your account to receive a password recovery email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form_reset" >
    <ion-list >

    <ion-item  >
      <ion-label  position="stacked" class="etiqueta">EMAIL</ion-label>
      <ion-icon name="mail" color="light" slot="end"></ion-icon>
      <ion-input placeholder="email@domain.com" color="light"  formControlName="email" type="email" required></ion-input>     
    </ion-item>

  </ion-list>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="auto">
        <ion-button   color="primary" shape="round" (click)="send()" >SEND</ion-button>
      </ion-col>
       <ion-col></ion-col>
    </ion-row>

  <ion-row>
       <ion-col></ion-col>
    <ion-col size="auto">    
      <ion-button   color="primary" shape="round" (click) = "cancel()" >CANCEL</ion-button>
    </ion-col>
       <ion-col></ion-col>
  </ion-row> 
</ion-grid>
</ion-content>

