<ion-header class="ion-no-border">
      <ion-toolbar color="primary" *ngIf="noprocesar">
     <ion-buttons slot="start">
      <ion-button (click)="wellcome()">       
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
          </ion-button>   
    </ion-buttons>  
  </ion-toolbar>
  <ion-toolbar color="primary" *ngIf="!enproceso"> 
         <ion-buttons slot="start">
      <ion-button (click)="wellcome()">       
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
          </ion-button>   
    </ion-buttons>   
    <ion-title>BOOK NOW | Others </ion-title>            
  </ion-toolbar>
   <ion-toolbar color="secondary" *ngIf="enproceso"> 
     
  </ion-toolbar>
</ion-header>
  <ion-content class="ion-padding" *ngIf="!enproceso">
   <p style="text-align: center; font-weight: bold; color:#f2f2f2">Make your reservation now for other vehicles or services of your choice.</p>

<ion-list [inset]="true" lines="none">
  
 <ion-item>
      <ion-input   labelPlacement="stacked" label="Type of vehicle" id = 'tipoV'  name = 'tipoV' type="text"  [(ngModel)]="book.tipoV" placeholder="Describe the type of vehicle"  />
</ion-item>

<ion-item>
      <ion-input  labelPlacement="stacked" label="Vehicle model" id = 'model' name = 'model'  type = 'text' [(ngModel)]="book.model" placeholder="model of your vehicle" />
    </ion-item>

<ion-item>
      <ion-input  labelPlacement="stacked" label="Vehicle brand" id = 'brand' name = 'brand'  type = 'text' [(ngModel)]="book.brand" placeholder="Brand of your vehicle" />
    </ion-item>

    <ion-item>
      <ion-input  labelPlacement="stacked" label="Color of the vehicle" id = 'color' name = 'color' type = 'text' [(ngModel)]="book.color" placeholder="Color of your vehicle" />

    </ion-item>

    <ion-item>
    <ion-input  labelPlacement="stacked" label="Vehicle number" id = 'unitnumber' name = 'unitnumber' type = 'text' [(ngModel)]="book.unitnumber" placeholder="Number of your vehicle" />

  </ion-item>

  <ion-item>
    <ion-input  labelPlacement="stacked" label="License" id = 'license' name = 'license' type = 'text' [(ngModel)]="book.license" placeholder="Vehicle driver's license" />
  </ion-item>

  

  <ion-item>
    <ion-select labelPlacement="stacked" style="padding:5px;"
    [interfaceOptions]="detallesPopoverOptions" 
    interface="alert" 
        fill="outline"   
    label="Vehicle details" 
placeholder="Its general appearance"
    id = 'detallev' name = 'detallev' [(ngModel)]="book.detallev" >
  
      <ion-select-option *ngFor="let detalle of detalles"  [value]="detalle.valor">  
      {{detalle.etiqueta}}
    </ion-select-option>        
    </ion-select>

  </ion-item>

<ion-item>    
      <ion-select style="padding:5px;"
      [interfaceOptions]="tipoServicePopoverOptions" interface="alert" fill="outline"
      label="Type service" labelPlacement="stacked" id = "tipoS" name = "tipoS" placeholder="Type service" [(ngModel)]="book.tipoS" >
      <ion-select-option *ngFor="let service of services"  [value]="service.valor">  
        {{service.key}}
        </ion-select-option>         
      </ion-select>
</ion-item>

<ion-item >

    <ion-label position="floating" class="titulo">Schedule time for:</ion-label><br>
      <ion-select 
 
       [interfaceOptions]="timePopoverOptions" interface="alert" 
       labelPlacement="stacked"  id = "horaCita" name = "horaCita" [(ngModel)]="book.horaCita" (ionChange) = done1()>
       <ion-select-option value="">
        Select
             </ion-select-option >

       <ion-select-option *ngFor="let hora of horario"  [value]="hora.valor">        
        {{hora.etiqueta}}
      </ion-select-option>        
      </ion-select>
</ion-item>

<ion-item>
  <ion-label position="floating" class="titulo">Schedule the day for:</ion-label><br><br>
      <ion-datetime  placeholder = 'Select a date for your booking'  presentation="date" first-day-of-week="1" [min] = 'hoy'   [(ngModel)]="book.diaCita" id = "diaCita" name = 'diaCita' (ionChange) = done2()>
      </ion-datetime>
</ion-item>


</ion-list>



</ion-content>
<ion-footer class="ion-no-border" *ngIf="!enproceso">
  <ion-toolbar color="primary">
   <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
<ion-button  color="secondary" shape="round" (click) = "continue()">
  CONTINUE
  <ion-icon color="light" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>
   </ion-grid>
    </ion-toolbar>
</ion-footer>

<ion-content class="ion-padding" *ngIf="enproceso"><br><br><br><br><br>
<div  style="text-align: center; color:#f2f2f2" *ngIf="!noprocesar">
  <h4>Do not close the application while this process is running.</h4>
  <br><img src="./assets/imgs/enproceso.gif" />
</div>

<div  style="text-align: center; color:#f2f2f2" *ngIf="noprocesar">
  <img src="./assets/imgs/arrow.gif" />
</div><br><br>

<div  style="text-align: center; color:#f2f2f2" *ngIf="noprocesar">
  <h4>{{mensaje}}</h4><br><br> <img src="./assets/imgs/icono_exclamacion.png" style="background-color: #f2f2f2; padding: 10px; border-radius: 50%;"/>
</div>

</ion-content>


