

<ion-menu contentId="main-content" type="overlay" menuId="unico-menu">

  <ion-header>
      <ion-toolbar color="secondary">
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <div class="app-logo"></div>
      <div style="text-align: center;
         color: #fff;
          font-weight: bolder;
           font-size: xx-large;
            margin-top: -23px;
        font-style: oblique;">Customers</div>
      <div style="text-align: center;
        color: #fff;  
          font-size: x-small;  
       font-style: oblique;">with the usual care!</div>
   <div class="data-perfil">        
    <p class="perfilcorreo">{{cliente_correo}}</p>
  </div>
     <ion-list id="inbox-list" >    
        <ion-item color="secondary" (click) ="wellcome()"  lines="none"  >
          <ion-icon slot="start" [name]="'speedometer'"></ion-icon>
          <ion-label>
         Dashboard
          </ion-label>
        </ion-item>
      </ion-list>
  <ion-list id="inbox-list" >
    <ion-menu-toggle auto-hide="false" *ngFor="let pages of Pages; let i = index">

    <ion-item color="secondary"  routerDirection="root" [routerLink]="[pages.url]" lines="none"
    detail="false" >
    <ion-icon slot="start" [ios]="pages.icon + '-outline'" [md]="pages.icon + '-sharp'"></ion-icon>
    <ion-label>{{ pages.title }}</ion-label>
  </ion-item> 



  </ion-menu-toggle>
  </ion-list>
  
                   
      <ion-list id="inbox-list" *ngIf ="autenticacion_tipo == 'correo_pass'">    
        <ion-item color="secondary" (click) ="salida_regular()"  lines="none"  >
          <ion-icon slot="start" [name]="'power'"></ion-icon>
          <ion-label>
           Sign out
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list id="inbox-list" *ngIf ="autenticacion_tipo == 'google'">    
        <ion-item color="secondary" (click) ="logoutGoogle()"  lines="none"  >
          <ion-icon slot="start" [name]="'power'"></ion-icon>
          <ion-label>
           Sign out
          </ion-label>
        </ion-item>
      </ion-list>

  
      <ion-list id="inbox-list" >    
        <ion-item style="color:rgb(10, 10, 10)" (click)="deleteCuenta()" lines="none"  >
       
          <ion-icon  slot="start" src="./assets/icon/delete_account.svg"></ion-icon>
          <ion-label>
           Account deletion
          </ion-label>
        </ion-item>
      </ion-list>
  
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main-content"></ion-router-outlet>
  
 