// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/


:root {
	--ion-color-primary: #CA083F;
	--ion-color-primary-rgb: 202, 8, 63;
	--ion-color-primary-contrast: #f2f2f2;
	--ion-color-primary-contrast-rgb: 242, 242, 242;
	--ion-color-primary-shade: #7a0526;
	--ion-color-primary-tint: #f32861;

  --ion-color-secondary: #2E4F9C;
  --ion-color-secondary-rgb: 6, 17, 138;
  --ion-color-secondary-contrast: #f2f2f2;
  --ion-color-secondary-contrast-rgb: 138, 127, 6;
  --ion-color-secondary-shade: 242, 242, 242;
  --ion-color-secondary-tint: #091df1;

	--ion-color-tertiary: #5260ff;
	--ion-color-tertiary-rgb: 82,96,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #4854e0;
	--ion-color-tertiary-tint: #6370ff;

	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #0f0f0f;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-light: #f2f2f2;
	  --ion-color-light-rgb: 242,242,242;
	  --ion-color-light-contrast: #000000;
	  --ion-color-light-contrast-rgb: 0,0,0;
	  --ion-color-light-shade: #d5d5d5;
	  --ion-color-light-tint: #f3f3f3;

	--ion-color-medium: #aa7941;
	--ion-color-medium-rgb: 170,121,65;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #966a39;
	--ion-color-medium-tint: #b38654;

	--ion-color-dark: #2f2f2f;
	--ion-color-dark-rgb: 47,47,47;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #292929;
	--ion-color-dark-tint: #444444;


	--ion-background-color: #2b4e9e;
	--ion-background-color-rgb: 43,78,158;

	--ion-text-color: #f2f2f2;
	--ion-text-color-rgb: 242,242,242;

	--ion-text-color-step-50: #e8eaee;
	--ion-text-color-step-100: #dee2ea;
	--ion-text-color-step-150: #d4d9e5;
	--ion-text-color-step-200: #cad1e1;
	--ion-text-color-step-250: #c0c9dd;
	--ion-text-color-step-300: #b6c1d9;
	--ion-text-color-step-350: #acb9d5;
	--ion-text-color-step-400: #a2b0d0;
	--ion-text-color-step-450: #98a8cc;
	--ion-text-color-step-500: #8fa0c8;
	--ion-text-color-step-550: #8598c4;
	--ion-text-color-step-600: #7b90c0;
	--ion-text-color-step-650: #7187bb;
	--ion-text-color-step-700: #677fb7;
	--ion-text-color-step-750: #5d77b3;
	--ion-text-color-step-800: #536faf;
	--ion-text-color-step-850: #4967ab;
	--ion-text-color-step-900: #3f5ea6;
	--ion-text-color-step-950: #3556a2;

	--ion-background-color-step-50: #3556a2;
	--ion-background-color-step-100: #3f5ea6;
	--ion-background-color-step-150: #4967ab;
	--ion-background-color-step-200: #536faf;
	--ion-background-color-step-250: #5d77b3;
	--ion-background-color-step-300: #677fb7;
	--ion-background-color-step-350: #7187bb;
	--ion-background-color-step-400: #7b90c0;
	--ion-background-color-step-450: #8598c4;
	--ion-background-color-step-500: #8fa0c8;
	--ion-background-color-step-550: #98a8cc;
	--ion-background-color-step-600: #a2b0d0;
	--ion-background-color-step-650: #acb9d5;
	--ion-background-color-step-700: #b6c1d9;
	--ion-background-color-step-750: #c0c9dd;
	--ion-background-color-step-800: #cad1e1;
	--ion-background-color-step-850: #d4d9e5;
	--ion-background-color-step-900: #dee2ea;
	--ion-background-color-step-950: #e8eaee;

}

.ios body {
	--ion-background-color: #2b4e9e;
  }
  
  body {
	--ion-background-color: #2b4e9e;
  }
  
  .ios ion-modal {
	--ion-background-color: #2b4e9e;
  }
  
  .md body {
	--ion-background-color: #2b4e9e;
  }







@media (prefers-color-scheme: dark) {
	/*
	 * Dark Colors
	 * -------------------------------------------
	 */
  
	body {
	  --ion-color-primary: #CA083F;
	  --ion-color-primary-rgb: 202, 8, 63;
	  --ion-color-primary-contrast: #f2f2f2;
	  --ion-color-primary-contrast-rgb: 242, 242, 242;
	  --ion-color-primary-shade: #7a0526;
	  --ion-color-primary-tint: #f32861;
	
	--ion-color-secondary: #2E4F9C;
	--ion-color-secondary-rgb: 6, 17, 138;
	--ion-color-secondary-contrast: #f2f2f2;
	--ion-color-secondary-contrast-rgb: 138, 127, 6;
	--ion-color-secondary-shade: 242, 242, 242;
	--ion-color-secondary-tint: #091df1;
  
	
	  --ion-color-tertiary: #5260ff;
	  --ion-color-tertiary-rgb: 82,96,255;
	  --ion-color-tertiary-contrast: #ffffff;
	  --ion-color-tertiary-contrast-rgb: 255,255,255;
	  --ion-color-tertiary-shade: #4854e0;
	  --ion-color-tertiary-tint: #6370ff;
	
	  --ion-color-success: #2dd36f;
	  --ion-color-success-rgb: 45,211,111;
	  --ion-color-success-contrast: #000000;
	  --ion-color-success-contrast-rgb: 0,0,0;
	  --ion-color-success-shade: #28ba62;
	  --ion-color-success-tint: #42d77d;
	
	  --ion-color-warning: #ffc409;
	  --ion-color-warning-rgb: 255,196,9;
	  --ion-color-warning-contrast: #000000;
	  --ion-color-warning-contrast-rgb: 0,0,0;
	  --ion-color-warning-shade: #e0ac08;
	  --ion-color-warning-tint: #ffca22;
	
	  --ion-color-danger: #eb445a;
	  --ion-color-danger-rgb: 235,68,90;
	  --ion-color-danger-contrast: #ffffff;
	  --ion-color-danger-contrast-rgb: 255,255,255;
	  --ion-color-danger-shade: #cf3c4f;
	  --ion-color-danger-tint: #ed576b;
	
	  --ion-color-light: #f2f2f2;
	  --ion-color-light-rgb: 242,242,242;
	  --ion-color-light-contrast: #000000;
	  --ion-color-light-contrast-rgb: 0,0,0;
	  --ion-color-light-shade: #d5d5d5;
	  --ion-color-light-tint: #f3f3f3;
  
	  --ion-color-medium: #aa7941;
	  --ion-color-medium-rgb: 170,121,65;
	  --ion-color-medium-contrast: #000000;
	  --ion-color-medium-contrast-rgb: 0,0,0;
	  --ion-color-medium-shade: #966a39;
	  --ion-color-medium-tint: #b38654;
  
	  --ion-color-dark: #2f2f2f;
	  --ion-color-dark-rgb: 47,47,47;
	  --ion-color-dark-contrast: #ffffff;
	  --ion-color-dark-contrast-rgb: 255,255,255;
	  --ion-color-dark-shade: #292929;
	  --ion-color-dark-tint: #444444;
  
	}
  
	/*
	 * iOS Dark Theme
	 * -------------------------------------------
	 */
  
	.ios body {
	  :root {
	--ion-background-color: #2b4e9e;
	--ion-background-color-rgb: 43,78,158;

	--ion-text-color: #f2f2f2;
	--ion-text-color-rgb: 242,242,242;

	--ion-text-color-step-50: #e8eaee;
	--ion-text-color-step-100: #dee2ea;
	--ion-text-color-step-150: #d4d9e5;
	--ion-text-color-step-200: #cad1e1;
	--ion-text-color-step-250: #c0c9dd;
	--ion-text-color-step-300: #b6c1d9;
	--ion-text-color-step-350: #acb9d5;
	--ion-text-color-step-400: #a2b0d0;
	--ion-text-color-step-450: #98a8cc;
	--ion-text-color-step-500: #8fa0c8;
	--ion-text-color-step-550: #8598c4;
	--ion-text-color-step-600: #7b90c0;
	--ion-text-color-step-650: #7187bb;
	--ion-text-color-step-700: #677fb7;
	--ion-text-color-step-750: #5d77b3;
	--ion-text-color-step-800: #536faf;
	--ion-text-color-step-850: #4967ab;
	--ion-text-color-step-900: #3f5ea6;
	--ion-text-color-step-950: #3556a2;

	--ion-background-color-step-50: #3556a2;
	--ion-background-color-step-100: #3f5ea6;
	--ion-background-color-step-150: #4967ab;
	--ion-background-color-step-200: #536faf;
	--ion-background-color-step-250: #5d77b3;
	--ion-background-color-step-300: #677fb7;
	--ion-background-color-step-350: #7187bb;
	--ion-background-color-step-400: #7b90c0;
	--ion-background-color-step-450: #8598c4;
	--ion-background-color-step-500: #8fa0c8;
	--ion-background-color-step-550: #98a8cc;
	--ion-background-color-step-600: #a2b0d0;
	--ion-background-color-step-650: #acb9d5;
	--ion-background-color-step-700: #b6c1d9;
	--ion-background-color-step-750: #c0c9dd;
	--ion-background-color-step-800: #cad1e1;
	--ion-background-color-step-850: #d4d9e5;
	--ion-background-color-step-900: #dee2ea;
	--ion-background-color-step-950: #e8eaee;
}
  
	  --ion-item-background: #000000;
  
	  --ion-card-background: #1c1c1d;
	}
  
	.ios ion-modal {
	  --ion-background-color: var(--ion-color-step-100);
	  
	--ion-toolbar-background: var(--ion-color-step-150);
	  
	  --ion-toolbar-border-color: var(--ion-color-step-250);
	}
  
  
	/*
	 * Material Design Dark Theme
	 * -------------------------------------------
	 */
  
	.md body {

	--ion-background-color: #2b4e9e;
	--ion-background-color-rgb: 43,78,158;

	--ion-text-color: #f2f2f2;
	--ion-text-color-rgb: 242,242,242;

	--ion-text-color-step-50: #e8eaee;
	--ion-text-color-step-100: #dee2ea;
	--ion-text-color-step-150: #d4d9e5;
	--ion-text-color-step-200: #cad1e1;
	--ion-text-color-step-250: #c0c9dd;
	--ion-text-color-step-300: #b6c1d9;
	--ion-text-color-step-350: #acb9d5;
	--ion-text-color-step-400: #a2b0d0;
	--ion-text-color-step-450: #98a8cc;
	--ion-text-color-step-500: #8fa0c8;
	--ion-text-color-step-550: #8598c4;
	--ion-text-color-step-600: #7b90c0;
	--ion-text-color-step-650: #7187bb;
	--ion-text-color-step-700: #677fb7;
	--ion-text-color-step-750: #5d77b3;
	--ion-text-color-step-800: #536faf;
	--ion-text-color-step-850: #4967ab;
	--ion-text-color-step-900: #3f5ea6;
	--ion-text-color-step-950: #3556a2;

	--ion-background-color-step-50: #3556a2;
	--ion-background-color-step-100: #3f5ea6;
	--ion-background-color-step-150: #4967ab;
	--ion-background-color-step-200: #536faf;
	--ion-background-color-step-250: #5d77b3;
	--ion-background-color-step-300: #677fb7;
	--ion-background-color-step-350: #7187bb;
	--ion-background-color-step-400: #7b90c0;
	--ion-background-color-step-450: #8598c4;
	--ion-background-color-step-500: #8fa0c8;
	--ion-background-color-step-550: #98a8cc;
	--ion-background-color-step-600: #a2b0d0;
	--ion-background-color-step-650: #acb9d5;
	--ion-background-color-step-700: #b6c1d9;
	--ion-background-color-step-750: #c0c9dd;
	--ion-background-color-step-800: #cad1e1;
	--ion-background-color-step-850: #d4d9e5;
	--ion-background-color-step-900: #dee2ea;
	--ion-background-color-step-950: #e8eaee;

  
	  --ion-item-background: #2E4F9C;
	  
	  
  
	  --ion-toolbar-background: #CA083F;
  
	  --ion-tab-bar-background: #2E4F9C;
  
	  --ion-card-background: #2E4F9C;
}
  }