
<ion-header>
  <ion-toolbar color="primary"> 
       <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
   
    <ion-title style="font-weight: bold;">CHECKOUT BOOKING</ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content >



  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button  color="warning" (click) = "bookNowTT()" shape="round">
<span style="color:black; font-size: large; ">TRUCKS AND TRAILERS || Appointment</span>
 <ion-icon color="dark" slot="start" name="stop"></ion-icon>
  <ion-icon color="dark" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>
      <ion-row>
      <ion-col style="text-align: center;">
        <ion-button  color="warning" (click) = "bookNowOther()" shape="round" >
<span style="color:black;  font-size: large; ">OTHER VEHICLES AND SERVICES || Appointment</span>
 <ion-icon color="dark" slot="start" name="car-sport"></ion-icon>
  <ion-icon color="dark" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>
          <ion-row>
      <ion-col style="text-align: center;">
        <ion-button  color="warning" (click) = "bookNowFleets()" shape="round">
<span style="color:black;  font-size: large; ">FLEET || Appointment</span>
 <ion-icon color="dark" slot="start" name="grid"></ion-icon>
  <ion-icon color="dark" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>



</ion-content>
