.mobile {

    color: #2dd36f;
}

.yard {
    color: #5260ff;
}

.neon {

    color: #f2f2f2;
    text-align: center;
    font-weight: bold;
}

.argon {
    color: #f2f2f2;
    text-align: center;
}

.radio {

    text-align: center;
}

.archived {
    font-weight: bolder;
    padding: 3%;
    background-color: #aa7941;
    color: #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    text-align: center;
    border-top: solid 1px #f2f2f2;
}

.cancelled {
   font-weight: bolder;
    padding: 3%; background-color: #2e4f9c; 
    color:#f2f2f2; 
    border-bottom: solid 1px #f2f2f2; 
    text-align: center; 
    border-top: solid 1px #f2f2f2;
}

.attended {
    font-weight: bolder;
    padding: 3%; 
    background-color: #2dd36f; 
    color:#363637; 
    border-bottom: solid 1px #f2f2f2; 
    text-align: center; 
    border-top: solid 1px #f2f2f2;
}

.confirmed {
   font-weight: bolder;
    padding: 3%; 
    background-color: #FFC409;
     color:#363637; 
     border-bottom: solid 1px #f2f2f2; 
     text-align: center; 
     border-top: solid 1px #f2f2f2;
}

.waiting {
  font-weight: bolder;
    padding: 3%; 
    background-color: #ca083f; 
    color:#f2f2f2; 
    border-bottom: solid 1px #f2f2f2; 
    text-align: center; 
    border-top: solid 1px #f2f2f2;
}

.colorfont {
    color:#f2f2f2
}