<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>TRUCK AND TRAILER<br>APPOINMENTS</ion-title>
      
    </ion-toolbar>
    <div *ngIf="n == 1" class="waiting" style="font-weight: bolder;
    padding: 3%; background-color: #ca083f; color:#fff; border-bottom: solid 1px #fff; text-align: center; border-top: solid 1px #fff;">
      ON WAITING
      </div>
       <div *ngIf="n == 2" class="confirmed" >
      CONFIRMED
      </div>
      
       <div *ngIf="n == 7" class="attended">
      ATTENDED
      </div>
      
      <div *ngIf="n == 9" class="cancelled" >
      CANCELLED
      </div>

       <div *ngIf="n == 8" class="pagado" >
      PAID
      </div>

      <div *ngIf="n == 11" class="archived">
        ARCHIVED
        </div>
  
    <ion-toolbar *ngIf=" 2 >= n" class ="colorfont"  color="primary"> 
   
      <ion-icon name="information-circle" slot='start'  class ="colorfont" ></ion-icon>
      <ion-title size="small">Appointments can be canceled with at least 24 hours notice</ion-title>
     
    </ion-toolbar>
    <ion-toolbar *ngIf="n == 7" class ="colorfont" color="primary"> 
      <ion-icon name="warning" slot='start' class ="colorfont"></ion-icon>
      <ion-title size="small">Payment for these successfully completed appointments must be made as soon as possible.</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="n == 9" class ="colorfont" color="primary"> 
      <ion-icon name="information-circle" slot='start' class ="colorfont"></ion-icon>
      <ion-title size="small">These appointments have no effect and can be archived by you whenever you wish. However, after a month these are automatically archived.</ion-title>
    </ion-toolbar>

      <ion-toolbar *ngIf="n == 8" class ="colorfont" color="primary"> 
      <ion-icon name="information-circle" slot='start' class ="colorfont"></ion-icon>
      <ion-title size="small">These appointments have no effect and can be archived by you whenever you wish. However, after a month these are automatically archived.</ion-title>
    </ion-toolbar>

    <ion-toolbar *ngIf="n == 11" class ="colorfont" color="primary"> 
      <ion-icon name="information-circle" slot='start' class ="colorfont"></ion-icon>
      <ion-title size="small">These appointments have no effect and have been archived for informational purposes.</ion-title>
    </ion-toolbar>

  

    </ion-header>


  <ion-content>
      <ion-button (click) = "goBack()" fill="clear" style="color: #fff;" >
            <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
            back    
          </ion-button>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

   <div *ngIf ='vermensaje' style="text-align: center; color:#f2f2f2"> <img src="./assets/imgs/icono_exclamacion.png" /><h4>Sorry, there is no information for this type of Appointment.</h4></div>
    <ion-grid color="primary" *ngIf ='verfiltros'>    
      <ion-row *ngIf="n != 11">
        <ion-col class="radio">
          <ion-button size="small" (click)="vermobil()" shape="round" color="light">
            <ion-icon slot="start" name="rocket" color="success"></ion-icon >           
            Mobile
          </ion-button>
        </ion-col>
        <ion-col class="radio">
          <ion-button size="small" (click)="veryard()" shape="round" color="light">
            <ion-icon slot="start" name="golf" color="tertiary"></ion-icon>           
            Onsite
          </ion-button>
        </ion-col>
      </ion-row>

        <ion-row *ngIf="n == 11">
        <ion-col class="radio">
          <ion-button size="small" (click)="verlistos()" shape="round" color="light">
            <ion-icon slot="start" name="diamond" color="warning"></ion-icon >           
            Completed
          </ion-button>
        </ion-col>
        <ion-col class="radio">
          <ion-button size="small" (click)="vercancel()" shape="round" color="light">
            <ion-icon slot="start" name="thunderstorm" color="success"></ion-icon>           
            Canceled
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


    
    

 <div *ngIf="n != 11">
 <ion-accordion-group *ngFor="let element of conjunto | sortcitas : terms  ; let i = index " expand="inset" >
    <ion-accordion value=i>     
      <ion-item slot="header" color="light" >
        <ion-icon *ngIf="element.Location == 'Mobile'" name="rocket" color="success"></ion-icon>
        <ion-icon *ngIf="element.Location == 'Yard'" name="golf" color="tertiary"></ion-icon>
        <ion-label>
          <strong *ngIf="element.Order_Item_Status == 1" class="advertencia">Confirmation in process<br></strong>
          <strong *ngIf="element.Order_Item_Status == 2" class="advertencia">In progress<br></strong>
          <strong *ngIf="element.Order_Item_Status == 7" class="advertencia">Executed | Unpaid<br></strong>
           <strong *ngIf="element.Order_Item_Status == 8" class="advertencia">Executed | Paid<br></strong>
            <strong *ngIf="element.Order_Item_Status == 9" class="advertencia">Incomplete | Cancelled <br></strong>
          <strong *ngIf="element.Location == 'Mobile'" class="mobile">{{element.Location}}</strong>
          <strong *ngIf="element.Location == 'Yard'" class="yard">Onsite</strong>
          {{element.Appointment}} | {{element.citahora}}<br>{{element.Service}}
     
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>

          <ion-row>
            <ion-col class="neon">Order nº</ion-col>          
          </ion-row>
          <ion-row>
            <ion-col class="argon">{{element.Order}}</ion-col>          
          </ion-row>

          <ion-row>
            <ion-col class="neon" >Price</ion-col>
            <ion-col class="neon">Discount</ion-col>
            <ion-col class="neon">Total to pay</ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="argon">{{element.Price_item_string}}</ion-col>
            <ion-col class="argon">{{element.Descuento_item_string}}</ion-col>
            <ion-col class="argon">{{element.Total_item_string}}</ion-col>
            
          </ion-row>

         


        </ion-grid>
     
  
          <div *ngIf="n == 7">
            <hr class="linea" *ngIf="element.vercharge_item">
  <div class="neon" *ngIf="element.vercharge_item">Servicio Charge</div>
            <p *ngIf="element.vercharge_item" class="neon">Monto:</p>
            <p *ngIf="element.vercharge_item" class="argon">{{element.rp_monto_item}}</p>
              <p *ngIf="element.vercharge_item" class="neon">Concepto:</p>
              <p *ngIf="element.vercharge_item" class="argon">{{element.rp_concepto_item}}</p>
          </div>
          <div *ngIf="n == 7">
            <hr>
  <div *ngIf="element.vercharge_item">        
                <ion-button  shape="round" color="warning"   (click)="Galery(element.order_item_id)" > TO SEE PHOTOS <ion-icon slot="start"  name= "sparkles"></ion-icon>
                 </ion-button>               
           <ion-button  shape="round" color="secondary" (click)="Pay2(element.Service, element.product_item_price, element.order_item_id, element.wash_id, element.discount, element.total,element.rp_monto,element.rp_concepto_item)" >TO PAY NOW  
           <ion-icon name="card" slot="start" ></ion-icon>             
            </ion-button>             
          </div>
                 <ion-button *ngIf="element.verenlace3_item" shape="round" color="warning"  (click)="Galery(element.order_item_id)">TO SEE PHOTOS <ion-icon slot="start" name="sparkles"></ion-icon>
          </ion-button>           
        <ion-button *ngIf="element.verenlace3_item" shape="round" color="secondary"  (click)="Pay1(element.Service, element.product_item_price, element.order_item_id, element.wash_id, element.discount, element.total)">TO PAY NOW    <ion-icon name="card" slot="start"></ion-icon>
                         </ion-button>            
          </div>

          <div *ngIf=" 2 >= n" > 
            <ion-button shape="round" color="secondary"  (click)="Cancelar(element.order_item_id)">
              <ion-icon name="close-circle" slot="start"></ion-icon>
              Cancel
            </ion-button>
          </div>         

        <div *ngIf="n == 9">
            <div>
            <ion-button shape="round" color="secondary"  (click)="Archive(element.order_item_id)">           
              <ion-icon name="archive-sharp" slot="start" color="medium" ></ion-icon>
              Archive
            </ion-button>
          </div>
        </div>

          <div *ngIf="n == 8">
            <div>
            <ion-button shape="round" color="secondary"  (click)="Archive(element.order_item_id)">             
              <ion-icon name="archive-sharp" slot="start" color="medium" ></ion-icon>
              Archive
            </ion-button>
          </div>
        </div>

       


     
          


      </div>
    </ion-accordion>   
  </ion-accordion-group>
  </div>
  
   <div *ngIf="n == 11">
 <ion-accordion-group *ngFor="let element of conjunto ; let i = index " expand="inset" >
    <ion-accordion value=i>     
      <ion-item slot="header" color="light" >
        <ion-icon *ngIf="element.Location == 'Mobile'" name="rocket" color="success"></ion-icon>
        <ion-icon *ngIf="element.Location == 'Yard'" name="golf" color="tertiary"></ion-icon>
        <ion-label>
          <strong *ngIf="element.Location == 'Mobile'" class="mobile">{{element.Location}}</strong>
          <strong *ngIf="element.Location == 'Yard'" class="yard">Onsite</strong>
          {{element.Appointment}} | {{element.citahora}}<br>{{element.Service}}<br> 
            
        </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>

          <ion-row>
            <ion-col class="neon">Order nº</ion-col>          
          </ion-row>
          <ion-row>
            <ion-col class="argon">{{element.Order}}</ion-col>          
          </ion-row>

          <ion-row>
            <ion-col class="neon" >Price</ion-col>
            <ion-col class="neon">Discount</ion-col>
            <ion-col class="neon">Total to pay</ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="argon">{{element.Price_item_string}}</ion-col>
            <ion-col class="argon">{{element.Descuento_item_string}}</ion-col>
            <ion-col class="argon">{{element.Total_item_string}}</ion-col>
            
          </ion-row>

         


        </ion-grid>
     
  
          

       

        <div *ngIf="element.archived === '1'">
          
          <div class="neon" *ngIf="element.Order_Item_Status == 8"><ion-text color="warning"><ion-icon name="diamond"></ion-icon></ion-text> Service completed</div> 
          <div class="neon" *ngIf="element.Order_Item_Status == 9"><ion-text color="success"><ion-icon name="thunderstorm"></ion-icon></ion-text> Service canceled</div>     
        </div>
     
          


      </div>
    </ion-accordion>   
  </ion-accordion-group>
  </div>



</ion-content>




