<ion-header>
  <ion-toolbar color="primary"> 
         <ion-buttons slot="start">
      <ion-button (click)="wellcome()">       
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
          </ion-button>   
    </ion-buttons>   
    <ion-title>FLEET</ion-title>        
  </ion-toolbar>

    <ion-toolbar  color="primary">
    <ion-icon name="information-circle" slot='start' style="color:#f2f2f2"></ion-icon>
    <ion-title size="small" style="color: #ffffff;">With a fleet you acquire benefits and discounts</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content > 
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> 
<ion-accordion-group *ngFor="let element of fleet; let i = index " expand="inset" >
  <ion-accordion value=i>
    <ion-item slot="header" color="light">
      <ion-thumbnail slot="end">
          <img src="https://www.washtt.com/components/com_jshopping/files/img_categories/{{element.category_image}}" />
 </ion-thumbnail>  
     <ion-icon name="car-outline" slot="start" color="success"></ion-icon>
      <ion-label><p>{{element.type_vehicle}} {{element.model}}<br>Number: {{element.unit_number}}</p> </ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">

<ion-grid>

  <ion-row>
  <ion-col class="box1">License</ion-col>
  <ion-col class="box2">Model</ion-col>
 </ion-row>
<ion-row>
  <ion-col class="box3">{{element.license}}</ion-col>
  <ion-col class="box3">{{element.model}}</ion-col>
 </ion-row>

 <ion-row>
  <ion-col class="box1">Brand</ion-col>
  <ion-col class="box2">Color</ion-col>
 </ion-row>
<ion-row>
  <ion-col class="box3">{{element.mark}}</ion-col>
  <ion-col class="box3">{{element.color}}</ion-col>
 </ion-row>



   <ion-row>
  <ion-col class="box2">Appearance</ion-col>  
 </ion-row>
   <ion-row>
  <ion-col class="box3">{{element.appearance}}</ion-col>  
 </ion-row>
</ion-grid>

    <ion-grid>
      <ion-row>       
        <ion-col><ion-button shape="round" color="secondary" (click) = add()  >
          <ion-icon slot="start" name="add-outline"></ion-icon> 
          ADD
        </ion-button></ion-col>
        <ion-col>
          <ion-button shape="round" color="secondary" (click) = "borrar(element.id)">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          DELETE
        </ion-button>
      </ion-col>
     
      </ion-row>
    </ion-grid>
    
    </div>
  </ion-accordion>   
</ion-accordion-group>


   <div  style="text-align: center;"> <img src="./assets/imgs/vehiculos_app.png" /></div>



</ion-content>