::ng-deep .mat-toolbar.mat-primary {

    background: #cb033c !important;
}

::ng-deep .mat-drawer {

    background: #cb033c !important;    
}

::ng-deep tr.mat-header-row {

    background: #cb033c !important;  
}

::ng-deep .mat-table tbody {

    background: #142f5f !important;  
}