<ion-header>
  <ion-toolbar color="primary">
   
    <ion-title>Onsite's booking</ion-title>
   
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
 
  
  <ion-list>


    <ion-item >
      <ion-input labelPlacement="stacked" label="Your type vehicle" id = "tipov" name = 'tipov' [(ngModel)]="onsite.tipov" value="{{vehiculo}}" [readonly]="true" />
    </ion-item>

    <ion-item >    
      <ion-select label="Number" labelPlacement="stacked" placeholder="Your number's vehicle" id = "numberv" name = 'numberv' [(ngModel)]="onsite.numberv" >
        <ion-select-option [value]="tempv">  
          {{tempv}}
        </ion-select-option>  

        
      <ion-select-option *ngFor="let numero of numeros"  [value]="numero">  
        {{numero}}
      </ion-select-option>        
      </ion-select>     
      <ion-button shape="round" (click)="addcar()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>  
    </ion-item>
  



    <ion-item >
      <ion-select label="In which of our yards" labelPlacement="stacked" placeholder="Select one from our yard" id = "yard" name = 'yard' [(ngModel)]="onsite.yard" >
      <ion-select-option *ngFor="let site of sitiosyard"  [value]="site.nombre_yard"> 
        {{site.nombre_yard}}
      </ion-select-option>        
      </ion-select>      
    </ion-item>  


    <ion-item>     
      <ion-select label="Appointment time"  labelPlacement="stacked" placeholder="Select a Reservation time" id = "horacita" name = 'horacita' [(ngModel)]="onsite.horacita" (ionChange) = done1()>
      <ion-select-option *ngFor="let hora of horario"  [value]="hora.valor">  
        {{hora.etiqueta}}
      </ion-select-option>        
      </ion-select>     
    </ion-item>
  
    <ion-item>
      <ion-label>
        <div>Appointment date</div>
      <ion-datetime     placeholder = 'Select a Reservation Date'  presentation="date" first-day-of-week="1" [min] = 'hoy'   [(ngModel)]="onsite.diacita" id = "diacita" name = 'diacita' (ionChange) = done2()>
    
      </ion-datetime>
    </ion-label>
    </ion-item>




  </ion-list>
 
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Action</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="continue()" [strong]="true">Continue</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
