<ion-header>
  <ion-toolbar  color="primary"><ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>  
    <ion-title>Locations</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-icon name="information-circle" slot='start' style="color:#f2f2f2"></ion-icon>
    <ion-title size="small" style="color: #ffffff;">Hold two or more locations for your future reservations</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
 <div *ngIf='showlist'> 
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-accordion-group *ngFor="let element of data; let i = index " expand="inset" >
    <ion-accordion value=i>
      <ion-item slot="header" color="light">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>{{element.suite}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p style="font-weight:bold; text-align: left; margin: unset;" >Address:</p> 
        <p style=" text-align: left; margin: unset;color: #f2f2f2;
      font-weight: bolder;" >{{element.address}}</p>
        <p style="font-weight:bold; text-align: left; margin: unset;" >Street No:</p> 
        <p style=" text-align: left; margin: unset;color: #f2f2f2;
      font-weight: bolder;" >{{element.street_nr}}</p>        
        <p style="font-weight:bold; text-align: left; margin: unset;" >State:</p>
        <p style=" text-align: left; margin: unset;color: #f2f2f2;
      font-weight: bolder;"  >{{element.state}}</p>
        <p style="font-weight:bold; text-align: left; margin: unset;" >City:</p>
        <p style=" text-align: left; margin: unset;color: #f2f2f2;
      font-weight: bolder;"  >{{element.city}}</p><br>
      <ion-grid>
        <ion-row>
         
          <ion-col><ion-button expand="full" color="secondary" (click) = "add()"  >
            <ion-icon slot="start" name="add-outline"></ion-icon> 
            Add a new location
          </ion-button></ion-col>
        </ion-row>
          <ion-row>

          <ion-col><ion-button expand="full" color="secondary" (click) = "borrar(element.id,element.default)">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Delete this location
          </ion-button></ion-col>
       
        </ion-row>
      </ion-grid>
      </div>
    </ion-accordion>   
  </ion-accordion-group>
 </div>

 <diV  *ngIf='showadd'> <br><br><ion-button  expand="block" color="warning" (click) = add()>Register your location now!</ion-button>
<br><br>
   <div  style="text-align: center;"> <img src="./assets/imgs/location_app.png" /></div>
</diV>



</ion-content>
