ion-toggle {
  padding: 12px;

  --track-background: #ddd;
  --track-background-checked: #ddd;

  --handle-background: #ffc409;
  --handle-background-checked: #95c34e;

}

ion-toggle::part(track) {


  /* Required for iOS handle to overflow the height of the track */
  overflow: visible;
}