<ion-header >  
  <ion-toolbar  color="primary">   
     <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>    
    <ion-title>Account</ion-title>   
  </ion-toolbar>
  
</ion-header>


<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-card color="secondary">
  <div class="img-wrapper">
    <img [src]="rostro" />
  </div>

  


  <ion-card-content class="ion-text-center">
    <h2>{{fullname}}</h2>
    <ion-text color="medium">
      <div style="display: flex;" class="ion-justify-content-center">
        <ion-icon name="mail" color="medium">
        </ion-icon>
        <p>{{username}}</p>
      </div>
    </ion-text>
    <ion-text color="medium">
      <div style="display: flex;" class="ion-justify-content-center">
        <ion-icon name="location-outline" color="medium">
        </ion-icon>
        <p>{{address}}</p>
      </div>
    </ion-text>
    
    

 

 
 

    
      
  



<ion-button id="open-action-sheet" color="primary">change photo</ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="Change Photo" class="my-custom-class"
  [buttons]="actionSheetButtons" (didDismiss)="logResult($event)"></ion-action-sheet>
</ion-card-content>
</ion-card>
</ion-content>

