ion-card {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: visible;
    margin: 50px 0 24px;
    position: relative;
    padding-top: 60px;
  
    .img-wrapper {
      position: absolute;
      left: 50%;
      top: 0px;
      transform: translateX(-50%);
      img {
        border-radius: 10px;
        width: 80px;
        height: 80px;
      }
  
      ion-button {
        --border-width: 1px;
        --border-color: var(--ion-color-light-shade);
        --border-style: solid;
        --padding-start: 0;
        --padding-end: 0;
        --padding-bottom: 0;
        --padding-top: 0;
  
        --border-radius: 50%;
        height: 26px;
        width: 26px;
  
        position: absolute;
        right: -10px;
        bottom: -10px;
  
        ion-icon {
          width: 14px;
          height: 14px;
        }
      }
      
    }

    .etiquetas {

      color:black
  }

  }

  .cancel {
    background-color: #cb033c !important;
    color: #fff;
    border-radius :5px;
}

.pen {
    color: #cb033c !important;
}

ion-icon[name="eye"], ion-icon[name="eye-off"] {
  font-size: 24px;
  color: #777;
  cursor: pointer;
}

ion-action-sheet.my-custom-class {
  --background: #CA083F;
  --backdrop-opacity: 0.6;
  --button-background-selected: #2E4F9C;
  --button-color: #f2f2f2;
  --color: #f2f2f2;
  /* role: "destructive" button iOS styling override */
  --ion-color-danger: #f2f2f2;
}
  