<ion-header>
  <ion-toolbar  color="primary">

    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
   <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

<ion-card color="secondary">
  <div class="img-wrapper">
    <img [src]="rostro" />
  </div>

  


  <ion-card-content class="ion-text-center">
    <h2>{{fullname}}</h2>
    <ion-text color="medium">
      <div style="display: flex;" class="ion-justify-content-center">
        <ion-icon name="mail" color="medium">
        </ion-icon>
        <p>{{username}}</p>
      </div>
    </ion-text>
    <ion-text color="medium">
      <div style="display: flex;" class="ion-justify-content-center">
        <ion-icon name="location-outline" color="medium">
        </ion-icon>
        <p>{{address}}</p>
      </div>
    </ion-text>
<ion-button id="open-action-sheet" color="primary">change photo</ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="Change Photo" class="my-custom-class"
  [buttons]="actionSheetButtons" (didDismiss)="logResult($event)"></ion-action-sheet>
</ion-card-content>
</ion-card>
  <ion-list>

    <ion-item  routerLink="/tabs/tabprofile/account">
      
      <ion-icon slot="start" name="id-card-outline"></ion-icon>
      <ion-label floating ion-left>              
        DATA ACCOUNT       
      </ion-label>  
    </ion-item>

    <ion-item  routerLink="/tabs/tabprofile/billaddress">
     
      <ion-icon slot="start" name="wallet-outline"></ion-icon>
      <ion-label  floating ion-left>     
        BILLING ADDRESS       
      </ion-label>  
    </ion-item>

    <ion-item  routerLink="/tabs/tabprofile/locations">   
      <ion-icon slot="start" name="location-outline"></ion-icon> 
      <ion-label  floating ion-left> 
             
        YOUR LOCATIONS       
      </ion-label>  
    </ion-item>

    <ion-item  routerLink="/tabs/tabprofile/fleet">
      <ion-icon name="car" slot="start"  class="text-primary" class ="figura"></ion-icon> 
      <ion-label  floating ion-left>       
        YOUR FLEET OF VEHICLES      
      </ion-label>  
    </ion-item>
  
  </ion-list> 

<br><br><br><br>
   <div  style="text-align: center;"> <img src="./assets/imgs/profile_app.png" /></div>
  
</ion-content>
