.caja1 {
  text-align: center; 
  border-radius: 12px;    
   color:#2b4e9e; 
   font-size:x-large;
    background-color: #f2f2f2; 
     margin-right: 5px;
    
}

.caja2 {
  text-align: center; 
  border-radius: 12px;    
   color:#2b4e9e; 
   font-size: x-large;
    background-color: #f2f2f2; 
   
}
   
   


.caja3 {
  text-align: center; 
  border-radius: 12px;    
   color:#2b4e9e; 
   font-size: x-large;
    background-color: #f2f2f2; 
     margin-left: 5px;
     

}

