.caja1 {
  text-align: center; 
  border-radius: 12px;    
   color:#2f2f2f; 
   font-size:larger;
    background-color: #CA083F; 
     margin-right: 5px;
    
}

.caja2 {
  text-align: center; 
  border-radius: 12px;    
   color:#2f2f2f; 
   font-size: larger;
    background-color: #ffc409; 
   
}
   
   


.caja3 {
  text-align: center; 
  border-radius: 12px;    
   color:#2f2f2f; 
   font-size: larger;
    background-color: #2dd36f; 
     margin-left: 5px;
     

}

.caja4 {
  text-align: center; 
  border-radius: 12px;    
   color:#2f2f2f; 
   font-size: larger;
    background-color: #f2f2f2;   
     margin-top:5px;
     margin-right: 5px;

}

.caja5 {
  text-align: center; 
  border-radius: 12px;    
   color:#5260ff; 
   font-size: larger;
    background-color: #f2f2f2;     
     margin-top:5px;
     

}

.caja6 {
  text-align: center; 
 
   color:#f2f2f2; 
   font-size: larger;
    
    
     margin-bottom:5px;
     

}

