
<ion-header>
  <ion-toolbar color="primary"> 
         <ion-buttons slot="start">
      <ion-button (click)="menu()">   
            <ion-icon slot="icon-only" name="reorder-three-outline" color="light"></ion-icon>
          </ion-button>   
    </ion-buttons>   
    <ion-title style="font-weight: bold;">DASHBOARD</ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content >
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid style="margin: top 10px;">
    <ion-row>
      <ion-col class="caja1">
         <ion-icon color="primary" style=" font-size:50px;"  name="car"></ion-icon>
         &ensp;<br>
        Fleet vehicles<br>{{fleet}}
      </ion-col>
     
          <ion-col class="caja2">
           <ion-icon color="primary" style=" font-size: 50px;"  name="calendar"></ion-icon><br> 
        Bookings scheduled<br>{{bookings}}
      </ion-col>
        
        <ion-col class="caja3">
            <ion-icon color="primary" style=" font-size: 50px;"  name="location-outline"></ion-icon> 
          &ensp;<br>
          &ensp;<br>
        Locations<br>{{locations}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button  color="warning" (click) = "bookNowTT()" shape="round">
<span style="color:black; font-size: large; ">BOOK NOW || Truck or Trailer</span>
 <ion-icon color="dark" slot="start" name="apps"></ion-icon>
  <ion-icon color="dark" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>
      <ion-row>
      <ion-col style="text-align: center;">
        <ion-button  color="warning" (click) = "bookNowOther()" shape="round" >
<span style="color:black;  font-size: large; ">BOOK NOW || Other Vehicles or Services</span>
 <ion-icon color="dark" slot="start" name="apps"></ion-icon>
  <ion-icon color="dark" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>
          <ion-row>
      <ion-col style="text-align: center;">
        <ion-button  color="warning" (click) = "bookNowFleets()" shape="round">
<span style="color:black;  font-size: large; ">BOOK NOW || Fleets</span>
 <ion-icon color="dark" slot="start" name="apps"></ion-icon>
  <ion-icon color="dark" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <hr style="border: solid 1px #fff">
      </ion-col>
    </ion-row>
      <ion-row>
      <ion-col style="text-align: center;">
        <ion-button  color="primary" (click) = "bookCheck()" shape="round">
 <span style="  font-size: large; ">CHECKOUT YOUR BOOKING</span>
 <ion-icon color="light" slot="start" name="calendar"></ion-icon>
  <ion-icon color="light" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>
      <ion-row>
      <ion-col style="text-align: center;">
         <ion-button  color="primary" (click) = "bookPrice()" shape="round" >
 <span style="  font-size: large; ">CHECK OUR PRICE</span>
 <ion-icon color="light" slot="start" name="pricetags"></ion-icon>
  <ion-icon color="light" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
   </ion-row> 
   <!--<ion-row>  
      <ion-col style="text-align: center;">
         <ion-button  color="primary" (click) = "findMore()"  shape="round">
 <span style="  font-size: large; ">FINDS MORE</span>
 <ion-icon name="pint" color="light" slot="start" ></ion-icon>
  <ion-icon color="light" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>-->
  </ion-grid>



</ion-content>

