.caja1 {
  text-align: center; 
  border-radius: 12px;    
   color:#2b4e9e; 
   font-size:x-large;
    background-color: #f2f2f2; 
     margin-right: 5px;
    
}

.caja2 {
  text-align: center; 
  border-radius: 12px;    
   color:#2b4e9e; 
   font-size: x-large;
    background-color: #f2f2f2; 
   
}
   
   


.caja3 {
  text-align: center; 
  border-radius: 12px;    
   color:#2b4e9e; 
   font-size: x-large;
    background-color: #f2f2f2; 
     margin-left: 5px;
     

}

.caja4 {
  text-align: center; 
  border-radius: 12px;    
   color:#2b4e9e; 
   font-size: x-large;
    background-color: #f2f2f2;   
     margin-top:5px;
     margin-right: 5px;

}

.caja5 {
  text-align: center; 
  border-radius: 12px;    
   color:#2b4e9e; 
   font-size: x-large;
    background-color: #f2f2f2;     
     margin-top:5px;
     

}

.caja6 {
  text-align: center; 
 
   color:#f2f2f2; 
   font-size: x-large;
    
    
     margin-bottom:5px;
     

}

