<ion-header>
  <ion-toolbar color="primary">
   
    <ion-title>Add a new vehicle to your fleet</ion-title>
  
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div  style = 'text-align: center; color: #f2f2f2'>{{allErrorMessage}}</div>
  <ion-list>
    

    <ion-item>
      <ion-select 
      [interfaceOptions]="vehiculoPopoverOptions" 
    interface="popover" 
        fill="outline"  
      placeholder="Select"
      
      label="Type of vehicle" labelPlacement="stacked"  id="tipov" name = "tipov" [(ngModel)]="truck.tipov" >
      <ion-select-option *ngFor="let tipo of tipos"  [value]="tipo.category_id">  
        {{tipo.name}}
      </ion-select-option>        
      </ion-select>
      <br/>
      {{tipovErrorMessage}}
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Model of vehicle" id="model" name = "model" type = "text" [(ngModel)]="truck.model" placeholder="your model of vehiclee" />
      <br/>
      {{modelErrorMessage}}
    </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Vehicle brand" id="brand" name = "brand" type = "text" [(ngModel)]="truck.brand" placeholder="brand of your vehicle"  />
        <br/>
        {{brandErrorMessage}}
      </ion-item>

    <ion-item>
      <ion-input labelPlacement="stacked" label="Color of the vehicle" id="color" name = "color" type = "text" [(ngModel)]="truck.color" placeholder="color of your vehicle" />
      <br/>
      {{colorErrorMessage}}
    </ion-item>

  <ion-item>
    <ion-input labelPlacement="stacked" label="License" id="license" name = "license" type = "text" [(ngModel)]="truck.license" placeholder="vehicle driver's license" />
    <br/>
    {{licenseErrorMessage}}
  </ion-item>

  <ion-item>
    <ion-input labelPlacement="stacked" label="Vehicle number" id="unitnumber" name = "unitnumber" type = "number" [(ngModel)]="truck.unitnumber" placeholder="number of your vehicle" />
    <br/>
    {{unitnumberErrorMessage}}
  </ion-item>

  <ion-item>


    <ion-select
    [interfaceOptions]="detallesPopoverOptions" 
    interface="popover" 
        fill="outline"  
    
    label="Vehicle details" labelPlacement="stacked" placeholder="details of your vehicle" id="detallev" name = "detallev"  [(ngModel)]="truck.detallev" >
    <ion-select-option *ngFor="let detalle of detalles"  [value]="detalle.valor">  
      {{detalle.etiqueta}}
    </ion-select-option>        
    </ion-select>
    <br/>
    {{detallevErrorMessage}}
  </ion-item>

  <ion-item>
    <ion-select
    [interfaceOptions]="mainPopoverOptions" interface="popover" fill="outline"
    
    label="Main vehicle" labelPlacement="stacked" placeholder="Is this your main vehicle?" id="favorito" name = "favorito"  [(ngModel)]="truck.favorito" >
      <ion-select-option value ="1">  
       YES
      </ion-select-option>        
    <ion-select-option value ="0">  
      NOT
    </ion-select-option>        
    </ion-select>
    <br/>
    {{favoritoErrorMessage}}
  </ion-item>
 
</ion-list>
 <div  style="text-align: center;"> <img src="./assets/imgs/fleet_app.png" /></div>

</ion-content>
<ion-footer>
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-button color="warning" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Action</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
