<ion-header>
  <ion-toolbar>
    <!--<ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>-->
    <ion-title>Payment method</ion-title>
    <!--<ion-buttons slot="end">
      <ion-button (click)="continue()" [strong]="true">Continue</ion-button>
    </ion-buttons>-->
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div style="text-align:center">
    <img src="https://www.washtt.com/images/square-logo.png" alt="logo square">
    <div style="color:#f2f2f2"> <small>Powered by Square</small> </div> 
   </div>
  <form id="payment-form">
    <div id="billing">
  
      <div class="label">Service</div> 
      <input type="text" id="concept" name="concept" class="form-control" value ='{{concepto}}' readonly />
  
      
  
      <div class="label" >Price</div> 
      <input type="text" id="sub-total" name="sub-total" class="form-control" value ='{{subtotal_string}}' readonly /> 
   
      
  
      <div class="label">Discount</div> 
      <input type="text" id="descuento" name="descuento" class="form-control" value ='{{descuento_string}}' readonly /> 
  
      <div style="text-align: center; color:#f2f2f2">Service charge</div>

    <div class="label">Monto</div> 
    <input type="text" id="charge" name="charge" class="form-control" value ='{{charge_string}}' readonly=""> 

    <div class="label">Concepto</div> 
    <input type="text" id="concepto" name="concepto" class="form-control" value ='{{recargo_concepto}}' readonly=""> 
  
      <div class="label">Total</div> 
      <input type="text" id="total" name="total" class="form-control" value ='{{total_string}}' readonly /> 
  
      
      
      <div style="text-align: center; color:#f2f2f2"> Would you like to add a tip?</div>
      <div class="tip">Tip</div> 
      <input type="tel" id="tip" name="tip" class="form-control" value="" placeholder="tip?"><br>  
 </div><br>
  
    <div id="card-container"></div>

<ion-row>
    <ion-col>
      <ion-button   color="primary" expand="block" (click) = "eventHandler()" >To pay</ion-button>
    </ion-col>
  </ion-row>
   

  
</form>
<div id="payment-status-container"></div>

<ion-row>
  <ion-col>
    <ion-button   color="primary" expand="block" (click) = "cancel()" >Cancel</ion-button>
  </ion-col>
</ion-row>


</ion-content>
