/*ion-content::part(background) {
    color:#109cbf;
    background: radial-gradient(circle at 50% 50%, #fcd684, #fdd377, #fed16a, #fece5d, #ffcc4e, #ffc93e, #ffc72b, #ffc409);
  }*/
  
 
  
  ion-toggle {
    --track-background-checked:crimson;
    --track-background: #ddd;
  }