<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="salir()">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Beginning Fleet</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-icon name="information-circle" slot='start' style="color: #f2f2f2;"></ion-icon>
    <ion-title size="small" style="color: #f2f2f2;">Start adding a vehicle to your fleet</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div style="text-align: justify;">
    <p>Describe the vehicle you want to wash and start registering your fleet. Maintain a fleet of vehicles with us and
      receive frequent discount coupons.</p>
  </div>

  <ion-list lines="none">

    <ion-item>
      <ion-select style="text-transform: uppercase; padding:5px;" [interfaceOptions]="tipoVehiclePopoverOptions"
        interface="popover" fill="outline" label="Type vehicle" labelPlacement="stacked" id="tipoVehicle"
        name="tipoVehicle" placeholder="Your vehicle's type" [(ngModel)]="truck.tipov"
        (ionChange)="selectVehiculos($event)">
        <ion-select-option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.category_id">
          {{vehiculo.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>

      <ion-select style="text-transform: uppercase;  padding:5px;"
        [interfaceOptions]="modeloVehiclePopoverOptions" interface="popover" fill="outline" label="Vehicle model"
        labelPlacement="stacked" id="model" name="model" placeholder="Your vehicle's model" [(ngModel)]="truck.model">
        <ion-select-option *ngFor="let modelo of modelos" [value]="modelo.category_id">
          {{modelo.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="inset">
      <ion-input style="text-transform: uppercase;" labelPlacement="stacked" label="Vehicle brand" id='brand'
        name='brand' type='text' [(ngModel)]="truck.brand" placeholder="Brand of your vehicle" />
    </ion-item>

    <ion-item lines="inset">
      <ion-input style="text-transform: uppercase;" labelPlacement="stacked" label="Color of the vehicle" id='color'
        name='color' type='text' [(ngModel)]="truck.color" placeholder="Color of your vehicle" />

    </ion-item>

    <ion-item  lines="inset">
      <ion-input style="text-transform: uppercase;" labelPlacement="stacked" label="License" id='license' name='license'
        type='text' [(ngModel)]="truck.license" placeholder="Vehicle driver's license" />
    </ion-item>

    <ion-item lines="inset">
      <ion-input style="text-transform: uppercase;" labelPlacement="stacked" label="Vehicle number" id='unitn umber'
        name='unitnumber' type='text' [(ngModel)]="truck.unitnumber" placeholder="Number of your vehicle" />

    </ion-item><br>

    <ion-item>
      <ion-select labelPlacement="stacked" style="text-transform: uppercase;  padding:5px;"
        [interfaceOptions]="detallesPopoverOptions" interface="popover" fill="outline" label="Vehicle details"
        placeholder="Its general appearance" id='detallev' name='detallev' [(ngModel)]="truck.detallev">

        <ion-select-option *ngFor="let detalle of detalles" [value]="detalle.valor">
          {{detalle.etiqueta}}
        </ion-select-option>
      </ion-select>

    </ion-item>



  </ion-list>
  <div style="text-align: center;">
    <ion-button shape="round" color="primary" (click)="continue()">
      Continue
      <ion-icon color="light" slot="end" name="arrow-forward"></ion-icon>
    </ion-button>
  </div>

  <div style="text-align: center;"> <img src="./assets/imgs/fleet_app.png" /></div>
</ion-content>