/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {
    --ion-color-rojo: #CA083F;
    --ion-color-rojo-rgb: 202, 8, 63;
    --ion-color-rojo-contrast: #f2f2f2;
    --ion-color-rojo-contrast-rgb: 0, 0, 0;
    --ion-color-rojo-shade: #e0b4ba;
    --ion-color-rojo-tint: #fed2d7;
  }
  
  .ion-color-rojo {
    --ion-color-base: var(--ion-color-rojo);
    --ion-color-base-rgb: var(--ion-color-rojo-rgb);
    --ion-color-contrast: var(--ion-color-rojo-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rojo-contrast-rgb);
    --ion-color-shade: var(--ion-color-rojo-shade);
    --ion-color-tint: var(--ion-color-rojo-tint);
  }
  
  div[slot='content'] {
    background: rgba(var(--ion-color-rojo-rgb));
  }

 /* ion-popover {
 // --background: rgba(160, 163, 10, 0.6);
 // --backdrop-opacity: 1;
 // --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
 // --color: white;
 // --width: 300px;
}*/

/*ion-popover ion-content {
  --background: rgba(218, 40, 64, 0.6);
}*/

/*ion-popover::part(header) {
  color:azure;
}*/

 /*ion-select-popover ion-list {
  background: #f2f2f2;
  color:#f2f2f2;
}*/

 ion-select-popover ion-item {
  --background: #f2f2f2;
  --color: #141414;
  --inner-border-width: 0;
}

 /*ion-select-popover ion-radio {
  --color: #a61134;
  --color-checked: #4550f5;
}*/