ion-datetime {
 --background: #ccc;
  --border-color: #000;
  border-radius: 16px;
  box-shadow: rgba(var(--ion-color-rose-rgb), 0.3) 0px 10px 15px -3px;
  --color: #333; /* Text color */
}

.titulo {
    color:#2E4F9C;
    font-size:x-large;
}

ion-datetime::part(calendar-day) {
  color: #333;
}

ion-datetime::part(calendar-day today) {
  color: #f1b40a;
}

ion-datetime::part(calendar-day):focus {
  background-color: rgb(154 209 98 / 0.2);
  box-shadow: 0px 0px 0px 4px rgb(154 209 98 / 0.2);
}

ion-datetime::part(calendar-day active),
ion-datetime::part(calendar-day active):focus {
  background-color: #2E4F9C;
  border-color: #2E4F9C;
  color: #f2f2f2;
}

ion-item::part(native) {
  
    background-color: #f2f2f2; 
  border-radius: 8px;
padding-bottom: 10px;
 margin-top: 15px;

}

ion-select::part(text) {
  font-weight: bold;
  color:#2E4F9C
}
 

ion-content {
  background-color: #2E4F9C;
}
  
 