<ion-header>
  <ion-toolbar color="primary"> 
      <ion-buttons slot="start">
      <ion-button (click)="cancel()">       
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
          </ion-button>   
    </ion-buttons>  
    <ion-title>WORKING CONDITIONS<br>AT YOUR LOCATION</ion-title>  
     
  </ion-toolbar>
      

</ion-header>
<ion-content class="ion-padding">
<ion-list lines="none" [inset]="true"> 

  
        <ion-item>
      <ion-select  label="Power supply" style="padding:5px;" fill="outline"
       [interfaceOptions]="powerPopoverOptions" interface="alert" 
      
      labelPlacement="stacked" placeholder="Select" id = "power" name = "power" [(ngModel)]="site.power" >
      <ion-select-option *ngFor="let power of powers"  [value]="power.valor">  
        {{power.etiqueta}}
      </ion-select-option>        
      </ion-select>
     
    </ion-item>

    <ion-item>
      <ion-select label="Water supply" fill="outline" placeholder="Select" style="padding:5px;"
       [interfaceOptions]="waterPopoverOptions" interface="alert" 
      labelPlacement="stacked"  id = "water" name = "water" [(ngModel)]="site.water" >
      <ion-select-option *ngFor="let water of waters"  [value]="water.valor">  
        {{water.etiqueta}}
      </ion-select-option>        
      </ion-select>
     
    </ion-item>

    <ion-item>
      <ion-select style="padding:5px;"
      label="Will you to be there?" placeholder="Select"
       [interfaceOptions]="presenciaPopoverOptions" interface="alert" fill="outline"
      labelPlacement="stacked"  id = "ensitio" name = "ensitio" [(ngModel)]="site.ensitio" >
      <ion-select-option *ngFor="let ensitio of ensitios"  [value]="ensitio.valor">  
        {{ensitio.etiqueta}}
      </ion-select-option>        
      </ion-select>
    
    </ion-item>


  
  </ion-list>



<div style="text-align: center;" >
<ion-button  color="primary" (click) = "continue()" shape="round">
  CONTINUE
  <ion-icon color="light" slot="end" name="arrow-forward"></ion-icon>
</ion-button>




</div>

</ion-content>
