<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="atras()">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="cabeza == 'cart'" style="text-align: center;">CART</ion-title>
    <ion-title *ngIf="cabeza == 'coupons' " style="text-align: center;">COUPONS</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div *ngIf="cart">
    <ion-list [inset]="true" line="none">
      <ion-item>
        <ion-label>
          <h2 style="text-align: center;">CART</h2>
          <hr style="border: solid 1px #6d6b6b; ">
          <p class="pi1">VEHICLE:<br><span style="color:#CA083F">{{vehiculo}}</span></p>
      <p class="pi1">SERVICE:<br><span style="color:#CA083F">{{servicio}}</span></p>
       <p *ngIf="onsite != 'nada'"  class="pi1">TYPE:<br><span style="color:#CA083F">ONSITE</span></p>
          <p *ngIf="mobil != 'nada'"  class="pi1">TYPE:<br><span style="color:#CA083F">MOBIL</span></p>
       <p class="pi1">BOOKING SCHEDULED FOR:<br><span style="color:#CA083F">{{time}}</span></p>
       <p *ngIf="onsite == 'nada'" class="pi1">PLACE:<br><span style="color:#CA083F">{{locationmobil}}</span></p>
       <p *ngIf="mobil == 'nada'" class="pi1">PLACE:<br><span style="color:#CA083F">{{locationonsite}}</span></p>
           <p class="pi1">PRICE:<br><span style="color:#CA083F">{{precio}}</span></p>
          <p class="pi1">SUBTOTAL:<br><span style="color:#CA083F">{{subtotalString}}</span></p>
          <p class="pi1">DISCOUNT:<br><span style="color:#CA083F">{{discountString}}</span></p>
          <p class="pi1">TOTAL:<br><span style="color:#CA083F">{{totalString}}</span></p>
        </ion-label>
      </ion-item>
    </ion-list>

        <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
    <ion-button  color="primary" shape="round" (click) = "continue()">
 FINISH
  <ion-icon color="light" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>    
  </ion-grid>
   
  </div>

  <div *ngIf="listcupones">
  <p style="text-align: center; font-size: larger; ">Coupons earned through your loyalty</p> 

    <ion-list lines="none" [inset]="true" >

    <ion-item   class="customer-list" *ngFor="let coupon of couponsUser" (click)="selectcoupon(coupon.valor,coupon.tipo,coupon.usado,coupon.id)">
       <ion-icon slot="start" name="gift" color="primary"></ion-icon> 

    <ion-label  >            
    Code: {{coupon.codigo}}<br>Discount: <span *ngIf="coupon.tipo == 'Value' ">{{coupon.valor}} $ Off</span><span *ngIf="coupon.tipo == 'Porcent' ">{{coupon.valor}} % Off</span><br>
    Expired date:<br> {{coupon.fecha_expiracion}}<br>
    {{coupon.usado}}             
    </ion-label> 
      <ion-icon color="success" slot="end" name="radio-button-off" *ngIf = "coupon.usado == 'ACTIVE'"
></ion-icon> 
      <ion-icon color="secondary" slot="end" name="radio-button-on" *ngIf = "coupon.usado == 'USED'"></ion-icon>      

      <ion-icon color="primary" slot="end" name="ellipse" *ngIf = "coupon.usado == 'EXPIRED'"></ion-icon>    
      

     </ion-item>

   

    
        </ion-list>


<p style="text-align: center; font-size: larger;">Seasonal Promotions and others</p> 

        <ion-list lines="none" [inset]="true" >

 <ion-item color="primary" class="customer-list" *ngFor="let coupon of couponsForAll" (click)="selectcoupon(coupon.valor,coupon.tipo,coupon.usado,coupon.id)">
        
       <ion-icon slot="start" name="gift" color="success"></ion-icon> 

    <ion-label  >            
    Code: {{coupon.codigo}}<br>Discount: <span *ngIf="coupon.tipo == 'Value' ">{{coupon.valor}} $ Off</span><span *ngIf="coupon.tipo == 'Porcent' ">{{coupon.valor}} % Off</span><br>
    Expired date:<br> {{coupon.fecha_expiracion}}
    <br>{{coupon.usado}}             
    </ion-label> 
      <ion-icon color="success" slot="end" name="radio-button-off" *ngIf = "coupon.usado == 'ACTIVE'"
></ion-icon> 
      <ion-icon color="secondary" slot="end" name="radio-button-on" *ngIf = "coupon.usado == 'USED'"></ion-icon>      

      <ion-icon color="primary" slot="end" name="ellipse" *ngIf = "coupon.usado == 'EXPIRED'"></ion-icon>  
 

      </ion-item>



    </ion-list>


  </div>

  <div *ngIf="invitacion">
    <h1 style="text-align: center; font-weight: bold; color:#f2f2f2">Collect services through the use of our app and constantly receive coupons and discounts</h1>

     <ion-img src="./assets/imgs/location_app.png" ></ion-img>
            <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
    <ion-button  color="primary" shape="round" (click) = "continue()">
 FINISH
  <ion-icon color="light" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>    
  </ion-grid>
  </div>




</ion-content>



