<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="atras()">
        <ion-icon slot="icon-only" name="arrow-back" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="listcupones != true" style="text-align: center;">CART</ion-title>
    <ion-title *ngIf="cart != true " style="text-align: center;">COUPONS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div *ngIf="cart">
    <ion-list [inset]="true" line="none">
      <ion-item>
        <ion-label>
          <h2 style="text-align: center;">CART</h2>
          <hr style="border: solid 1px #6d6b6b; ">
          <p class="pi1">VEHICLE:<br><span style="color:#CA083F">{{vehiculo}}</span></p>
      <p class="pi1">SERVICE:<br><span style="color:#CA083F">{{servicio}}</span></p>
       <p *ngIf="onsite != 'nada'"  class="pi1">TYPE:<br><span style="color:#CA083F">ONSITE</span></p>
          <p *ngIf="mobil != 'nada'"  class="pi1">TYPE:<br><span style="color:#CA083F">MOBIL</span></p>
       <p class="pi1">BOOKING SCHEDULED FOR:<br><span style="color:#CA083F">{{time}}</span></p>
       <p *ngIf="onsite == 'nada'" class="pi1">PLACE:<br><span style="color:#CA083F">{{locationmobil}}</span></p>
       <p *ngIf="mobil == 'nada'" class="pi1">PLACE:<br><span style="color:#CA083F">{{locationonsite}}</span></p>
           <p class="pi1">PRICE:<br><span style="color:#CA083F">{{precio}}</span></p>
          <p class="pi1">SUBTOTAL:<br><span style="color:#CA083F">{{subtotalString}}</span></p>
          <p class="pi1">DISCOUNT:<br><span style="color:#CA083F">{{discountString}}</span></p>
          <p class="pi1">TOTAL:<br><span style="color:#CA083F">{{totalString}}</span></p>
        </ion-label>
      </ion-item>
    </ion-list>
   
  </div>

  <div *ngIf="listcupones">
  <p style="text-align: center; font-size: large; ">Coupons earned through your loyalty</p> 

    <ion-list lines="none" [inset]="true" >

      <ion-item color="primary" class="customer-list" *ngFor="let coupon of couponsUser" (click)="selectcoupon(coupon.valor,coupon.tipo)">
     

        <div *ngIf = "coupon.usado == 'ACTIVO'">
        <ion-label>
             <ion-icon slot="start" name="gift" color="primary"></ion-icon>  
          Code: {{coupon.codigo}}<br><span style="font-size:smaller">Value: {{coupon.valor}}</span><span *ngIf="coupon.tipo == 'Value' ">$</span><span *ngIf="coupon.tipo == 'Porcent' ">%</span><br>
          <p style="color:#2dd36f; text-align: center;" >ACTIVE</p>
        </ion-label>   
    <ion-icon color="success" slot="end" name="radio-button-off"></ion-icon> 
          
        </div>   
        
              <div *ngIf = "coupon.usado == 'USADO'">
        <ion-label>
             <ion-icon slot="start" name="gift" color="primary"></ion-icon>  
          Code: {{coupon.codigo}}<br><span style="font-size:smaller">Value: {{coupon.valor}}</span><span *ngIf="coupon.tipo == 'Value' ">$</span><span *ngIf="coupon.tipo == 'Porcent' ">%</span><br>
          <p style="color:#2E4F9C; text-align: center;" >USED</p>
        </ion-label>
        <ion-button shape="round">
    <ion-icon color="secondary" slot="end" name="radio-button-on"></ion-icon> 
</ion-button>            
        </div> 

                <div *ngIf = "coupon.usado == 'VENCIDO'">
        <ion-label>
             <ion-icon slot="start" name="gift" color="primary"></ion-icon>  
          Code: {{coupon.codigo}}<br><span style="font-size:smaller">Value: {{coupon.valor}}</span><span *ngIf="coupon.tipo == 'Value' ">$</span><span *ngIf="coupon.tipo == 'Porcent' ">%</span><br>
          <p style="color:#CA083F; text-align: center;" >EXPIRED</p>
        </ion-label>
        <ion-button shape="round">
    <ion-icon color="primary" slot="end" name="ellipse"></ion-icon> 
</ion-button>            
        </div>  
        

      </ion-item>
        </ion-list>


 <p style="text-align: center; font-size: large;">Seasonal Promotions and others</p> 

        <ion-list lines="none" [inset]="true" >

 <ion-item color="primary" class="customer-list" *ngFor="let coupon of couponsForAll" (click)="selectcoupon(coupon.valor,coupon.tipo)">
        
      
   <div *ngIf = "coupon.usado == 'ACTIVO'">
        <ion-label>
             <ion-icon slot="start" name="gift" color="success"></ion-icon>  
          Code: {{coupon.codigo}}<br><span style="font-size:smaller">Value: {{coupon.valor}}</span><span *ngIf="coupon.tipo == 'Value' ">$</span><span *ngIf="coupon.tipo == 'Porcent' ">%</span><br>
          <p style="color:#2dd36f; text-align: center;" >ACTIVE</p>
        </ion-label>   
    <ion-icon color="success" slot="end" name="radio-button-off"></ion-icon> 
          
        </div>   
        
              <div *ngIf = "coupon.usado == 'USADO'">
        <ion-label>
             <ion-icon slot="start" name="gift" color="success"></ion-icon> 
          Code: {{coupon.codigo}}<br><span style="font-size:smaller">Value: {{coupon.valor}}</span><span *ngIf="coupon.tipo == 'Value' ">$</span><span *ngIf="coupon.tipo == 'Porcent' ">%</span><br>
          <p style="color:#2E4F9C; text-align: center;" >USED</p>
        </ion-label>    
        
    <ion-icon color="secondary" slot="end" name="radio-button-on"></ion-icon> 
           
        </div> 

                <div *ngIf = "coupon.usado == 'VENCIDO'">
        <ion-label>
   <ion-icon slot="start" name="gift" color="success"></ion-icon> 

          Code: {{coupon.codigo}}<br><span style="font-size:smaller">Value: {{coupon.valor}}</span><span *ngIf="coupon.tipo == 'Value' ">$</span><span *ngIf="coupon.tipo == 'Porcent' ">%</span><br>
          <p style="color:#CA083F; text-align: center;" >EXPIRED</p>
        </ion-label>
        <ion-button shape="round">
    <ion-icon color="primary" slot="end" name="ellipse"></ion-icon> 
</ion-button>            
        </div>     


      </ion-item>



    </ion-list>


  </div>

  <div *ngIf="invitacion">
    <h1 style="text-align: center; font-weight: bold; color:#f2f2f2">Do You want to finish applying a Coupon on this service?</h1>

     <ion-img src="./assets/imgs/location_app.png" ></ion-img>
  </div>

</ion-content>

<ion-footer class="ion-no-border" *ngIf="footcart">
  <ion-toolbar color="primary">
   <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col>
<ion-button  color="secondary" shape="round" (click) = "continue()">
 FINISH
  <ion-icon color="light" slot="end" name="arrow-forward"></ion-icon>
</ion-button>
      </ion-col>
    </ion-row>
   </ion-grid>
    </ion-toolbar>
</ion-footer>

